a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
table,table td{padding:0;border:none;border-collapse:collapse;}
img{vertical-align:top;}
embed{vertical-align:top;}
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block;}
mark,rp,rt,ruby,summary,time{display:inline;}


body {
	color:#7d7d7d;
	font-size:12px;
	line-height:21px;
	font-family:Arial,Helvetica,sans-serif;
}

span{
	width: 300px; 
	margin-top: 5px;
	text-align:center; 
	display:block;
	color: #6e6e6e;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}

.non_user_popup{
	position: fixed;
	width:100%;
	height: 100%;
	background: transparent;
	z-index: 2;
}

#likes{
	float: left;
	position: absolute;
	margin-top: 2px;
	font-size: 12px;
	font-weight: 800;
	color: #646464;
	font-family: Helvetica, Arial, sans-serif;
}

#like_button {
    float: right;
    clear: both;
}
#like_button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 2px 12px;
    padding-left: 27px;
    height: 24px;
    width: 65px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    background: url(https://onmyblock.com/media/images/like_heart.png) 5px 2px no-repeat #f3f3f3;
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
#like_button:hover {
    color: #333;
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

#unlike_button {
    float: right;
    clear: both;
}
#unlike_button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 2px 12px;
    padding-left: 29px;
    height: 24px;
    width: 65px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    background: url(https://onmyblock.com/media/images/like_heart.png) 5px -26px no-repeat #f3f3f3;
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
#unlike_button:hover {
    color: #333;
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}



#post_like {
    float: left;
    clear: both;
}
#post_like {
    color: #6e6e6e;
    font: bold 11px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 3px 12px;
    padding-left: 28px;
    height: 25px;
    width: 35px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    background: url(https://onmyblock.com/media/images/thumb_up.png) 5px -14px no-repeat #f3f3f3;
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
#post_like:hover {
    color: #333;
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

#post_unlike {
    float: left;
    clear: both;
}
#post_unlike {
    color: #6e6e6e;
    font: bold 11px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 3px 12px;
    padding-left: 28px;
    height: 25px;
    width: 35px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    background: url(https://onmyblock.com/media/images/thumb_up.png) 5px 4px no-repeat #f3f3f3;
    border: solid 1px #9f9f9f;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
#post_unlike:hover {
    color: #333;
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}


#favorite_button {
    clear: both;
    height: 30px;
    width: 160px;
    margin: 3px;
    margin-left: 65px;
}
#favorite_button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    padding-left: 35px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    background: #f3f3f3;
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: url(https://onmyblock.com/media/images/favorite.png) 10px -27px no-repeat #f3f3f3;
}
#favorite_button:hover {
    color: #333;
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}


#unfavorite_button {
    clear: both;
    height: 30px;
    width: 160px;
    margin: 3px;
    margin-left: 65px;
}
#unfavorite_button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    padding-left: 35px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    background: #f3f3f3;
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: url(https://onmyblock.com/media/images/favorite.png) 10px 1px no-repeat #f3f3f3;
}
#unfavorite_button:hover {
    color: #333;
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background: url(https://onmyblock.com/media/images/favorite.png) 10px -27px no-repeat #f3f3f3;
}

.badge_container{
	width:250px;
}
#badge{
    width: 85px;
    height: 76px;
    margin: 3px;
}
#badge{
    position: relative;
    display: inline-block;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    border: solid 1px #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    z-index: 1;
}
#badge:hover{
	color: #333;
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
#badge_stats{
    display: inline-block;
	background: #fff;
	border: 1px solid #d1d1d1;
	position: relative;
	text-align: center;
	width: 20px;
	margin-top: 30px;
	margin-right: 5px;
}

#aToolTip {
	background:#2e2e2e;
	color:#fff;
	font-weight:700;
	margin:0;
	padding:2px 8px;
	font-size:11px;
	width: 100px;
	text-align: center;
	position: relative;
	display:none;
	border-radius:2px;
	margin-top: -350px; /*-215px ;/*/
	margin-left: -90px;
	z-index:1000;
	opacity: 0.8;
}

div.rating-cancel,div.star-rating{float:left;width:20px;height:17px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(https://onmyblock.com/media/images/delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(https://onmyblock.com/media/images/star.png) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:20px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -18px!important}
div.star-rating-hover a{background-position:0 -36px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */