/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; /*padding: 10px;*/ float: left; z-index: 1002;} 
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; /*border: 1px solid #B8C4CF;*/ color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 545px; /*padding: 10px;*/ background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { color: transparent; padding: 0px 10px;  }

.cs-next {  margin-top: -190px; width: 555px; height: 100%; }
.cs-prev { background-image: url('https://onmyblock.com/media/images/pg_prev.png'); background-repeat: no-repeat; margin-top: -24px; width: 30px; height: 60px;}

.cs-nextIcon { background-image: url('https://onmyblock.com/media/images/pg_next.png'); background-repeat: no-repeat; width: 35px; height: 60px;margin-top: 165px; margin-left: 520px; }
