/**** Base styles ****/

html {
  overflow-y: scroll;
}

body { 
  font: 13px 'Helvetica Neue', Arial, sans-serif;
  background: #fff;
  color: #222;
  line-height: 1.6em;
}


/**** #site-nav ****/

#site-nav {
  position: absolute;
  width: 180px;
  padding:  0 10px;
}

#site-nav h1 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0.8em;
  padding-top: 10px;
}

#site-nav h1 a { color: #D26; }
#site-nav h1 a:hover { color: #A2C; }

#site-nav h2 {
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 0.3em;
}

#site-nav ul {
  list-style: none;
  padding-left: 0;
  font-size: 12px;
}

#site-nav li {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#site-nav li a {
  display: block;
  padding: 3px 5px;
}

#site-nav li.current {
  background: #C8C5C2;
}

#site-nav li.current a { color: white; }
#site-nav li.current a:hover { color: #D26; }

#site-nav li ul { 
  margin-bottom: 0;
}

#site-nav li li {
  font-size: 11px;
  line-height: 1.4em;
}

#site-nav li li a {
  padding-left: 15px;
}

#site-nav li.selected li a {
  padding: 3px;
  background: none;
}

#site-nav li.selected li a:hover {
  color: #D26;
}

/**** Content ****/

#content {
  padding: 10px 10px 10px 10px;
}



/* screens smaller than 640 */
@media screen and (max-width: 640px) {

  #site-nav {
    width: auto;
    position: relative;
    left: auto;
    top: auto;
    padding-top: 0px;
    height: auto;
    margin-bottom: 20px;
  }
  
  #content {
    padding-left: 10px;
  }

}

.copy h2 {
  clear: both;
}

a img {
  border: none;
}

pre, code {
  font-family: Monaco, monospace;
  font-size: 12px;
  background: #111;
  color: #F5F5F5;
}

p code {
  padding: 1px 3px;
}

pre {
  padding: 10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}


.hidden { display: none; }

.copy {
  width: 600px;
  line-height: 1.55em;
}

blockquote {
	margin: 0;
	font: italic 18px Georgia, serif;
}

dt {
  font-weight: bold;
  font-size: 14px;
}

dd + dt {
  margin-top: 0.5em;
}

dd {
  margin-left: 1.0em;
}

button {
  -webkit-appearance: push-button;
}

#site-footer {
  clear: both;
  margin: 20px 0px;
  border-top: 2px solid white;
  padding-top: 10px;
  line-height: 30px;
  font-size: 95%;
  font-style: italic;
}

.license-copy {
  font-size: 85%;
}

.demos #copy,
.docs #content {
  max-width: 640px;
}

.docs #content h2 {
  border-top: 2px solid #FFF;
  padding-top: 10px;
}

.docs #content h2:target { 
  background: #D26;
  color: white;
  padding: 10px 5px 5px;
}

/**** Docs ****/



.options dl dt { font-weight: normal; }

.options dl dt,
.options dl dd {
  float: left;
  padding: 0 1.2em;;
  background: #161616;
  line-height: 32px;
  height: 32px;
  margin: 0;
}

.options dl.header dt,
.options dl.header dd {
  background: #444;
}

.options dl .option-type {
  font-size: 13px;
  color: #AAA;
  font-style: italic;
}

.options dl dd {
  margin-left: 1px;
}

/**** Demos ****/

#container {
  padding: 5px 5px 5px 70px;
  margin-bottom: 20px;
  margin-top: 90px;
  clear: both;
  width: auto;
  }

.centered { margin: 0 auto; }

.box {
  margin: 1px 1px 1px 1px;
  border: 1px solid #ccc;
  padding: 15px;
  background: #ddd;
  position: relative;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.specialclass{
  position: relative;
  width: 310px;  
}

.box:hover{
  background: #fff;
  box-shadow: 0 2px 7px #ccc;
}

.box h2 {
  font-size: 14px;
  font-weight: 200;
}

.box img,
#tumblelog img {
  display: block;
  width: 100%;
}

.rtl .box {
  float: right;
  text-align: right; 
  direction: rtl;
}

.col3 { width: 310px;}
/* .col3 img { max-width: 310px;} */

.sizecol1 img{max-height: 280px !important;}
.sizecol2 img{max-height: 320px !important;}
.sizecol3 img{max-height: 360px !important;}
.sizecol4 img{max-height: 210px !important;}
.sizecol5 img{max-height: 300px !important;}

.sizecol1 {height: 280px;}
.sizecol2 {height: 320px;}
.sizecol3 {height: 360px;}
.sizecol4 {height: 210px;}
.sizecol5 {height: 300px;}




/**** Gutters ****/

.has-gutters .box {
  margin: 5px 0;
}

.has-gutters .col1 { width: 90px; }
.has-gutters .col2 { width: 230px; }
.has-gutters .col3 { width: 370px; }
.has-gutters .col4 { width: 550px; }

/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

/**** Primer comparison ****/

#comparison {
  overflow: auto;
}

#comparison .example {
  width: 420px;
  float: left;
  margin-right: 20px;
}

#comparison .box h5 {
  float: left;
  margin-bottom: 0;
  font-size: 30px;
  margin-right: 4px;
  line-height: 28px;
  font-weight: bold;
  color: #FFF;
}

/* Homepage */

.homepage .item {
  width: 200px;
  float: left;
  padding: 10px;
  margin: 10px;
  background: #D8D5D2;
  font-weight: 300;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.homepage .big-text,
.homepage .link {
  font-size: 24px;
  line-height: 1.2em;
}

.homepage .link {
  padding: 0;
}

.homepage .link a {
  display: block;
  padding: 10px;
  width: 200px;
  background: #D26;
  color: white;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.homepage .link a:hover {
  background: #A2C;
}

.homepage .col2 {
  width: 440px;
}

.homepage .example {
  padding: 0;
  width: 220px;
  background: transparent;
}

.homepage .example a { display: block; }

.homepage .example img {
  display: block;
  width: 100%;
}

.homepage .example a:hover { 
  background: #D26;
  color: white;
}

.homepage .loading {
  background: black;
  color: #D8D5D2;
}

.homepage .loading img {
  float: left; 
  padding-right: 5px;
  width: 54px;
}

.homepage .bower,
.homepage .bower code {
  font-size: 17px;
}

/* mini example */

.homepage .mini div {
  float: left;
  background: white;
  margin: 3px;
  color: #D8D5D2;
  font-weight: bold;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.homepage .mini .w1 { width: 44px; }
.homepage .mini .h1 { height: 44px; }
.homepage .mini .w2 { width: 94px; }
.homepage .mini .h2 { height: 94px; }

/* Tumblelog example */

#tumblelog {
  background: #FFF;
  padding: 1.0em;
}

#tumblelog .story {
  margin: 10px;
  border-top: 4px solid #DCB;
  padding-top: 10px;
  background: #FFF;
  float: left;
}

#tumblelog h1, #tumblelog h2, #tumblelog h3 { font-weight: bold;}

#tumblelog .col1 { width: 220px; }
#tumblelog .col2 { width: 460px; }
#tumblelog .col3 { width: 700px; }

#tumblelog .col1 img,
#tumblelog .col2 img,
#tumblelog .col3 img {
  max-width: none;
}

/* Infinite Scroll loader */
#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

/**** Fluid ****/

#container.fluid  {
  padding: 5px 0;
}

/* right margin value is 0.1% less than calculated,
  to allow for rounding errors in Firefox */
.fluid .box {
  margin: 5px 0.9% 5px 1%;
  padding: 5px 1%;
}

.fluid .box.col1 { width: 56%; }
.fluid .box.col2 { width: 36%; }
.fluid .box.col3 { width: 16%; }

/**** Corner stamp ****/

.corner-stamp {
  width: 280px;
  height: 340px;
  padding: 10px;
  margin: 10px;
  float: right;
  background: red;
  color: white;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/**** Pygments ****/

code .s1,
code .s { color: #78BD55; } /* string */
code .mi, /* integer */
code .cp, /* doctype */
code .kc { color: #5298D4; } /*boolean*/
code .k { color: #E39B79; } /* keyword */
code .kd, /* storage */
code .na { color: #A9D866; } /* markup attribute */
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .c,
code .c1 { color: #666; font-style: italic; }

code .nt { color: #A0C8FC; } /* Markup open tag */

code .nf { color: #9EA8B8; } /* css id */
code .nc { color: #A78352; }  /* CSS class */
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */

/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/**** Css details box ***/

.bgisot{
  background: none repeat scroll 0 0 #000000;
  bottom: 15px;
  height: 28px;
  opacity: 0.7;
  padding-top: 16px;
  position: absolute;
  width: 310px;
  filter:alpha(opacity=70);
}
.viewssite{
  background: url("../images/spritebrowse.png") no-repeat scroll 0 0 transparent;  
  color: #fff;
  font-family: arial;
  font-size: 13px;
  float: left;
  height: 20px;
  margin-left: 65px;
  padding-left: 30px;
  width: 29px; 
}

.likeisot{
  background: url("../images/spritebrowse.png") no-repeat scroll 0 -18px transparent;  
  color: #fff;
  font-family: arial;
  font-size: 13px;
  float: left;
  height: 20px;
  margin-left: 10px;
  padding-left: 25px;
  width: 29px
}
.comenisot{
  background: url("../images/spritebrowse.png") no-repeat scroll 0 -36px transparent;  
  color: #fff;
  font-family: arial;
  font-size: 13px;
  float: left;
  height: 20px;
  margin-left: 10px;
  padding-left: 26px;
  width: 29px; 
}
.datbx{
  color: #FFFFFF;
  font-family: arial;
  font-size: 16px;  
  height: 37px;
  line-height: 20px;
  margin-left: 15px;
  position: absolute;
  text-shadow: 0 2px 4px #000000;
  top: 33px;
  width: 128px;
}
.text-box{
  color: #FFFFFF;
  font-family: arial;
  font-size: 16px;  
  height: 37px;
  line-height: 20px;
  margin-left: 15px;
  position: absolute;
  text-shadow: 0 2px 7px #000000;
  bottom: 0;
  margin-bottom: 50px;
  width: 190px;
}

.btnbrowse{
  display: none;
  height: 30px;
  margin-right: 24px;
  margin-top: 33px;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 2;
}
.addfavorite{
    float: left;
    background: url('../images/spritebrowse2.png') no-repeat top left;
    width: 37px;
    height: 30px;
    cursor: pointer;
 }
 
.addlike{
    float: left;
    background: url('../images/spritebrowse2.png') no-repeat top right;
    width: 37px;
    height: 30px;
    cursor: pointer;
    margin-left: 5px;
}


.nofavorite{
  background: url('../images/spritebrowse2.png') no-repeat bottom left; 
  float: left;
  width: 37px;
  height: 30px;
  cursor: pointer;
}

.nolike{
  background: url('../images/spritebrowse2.png') no-repeat bottom right;
  width: 37px;
  float: left;
  height: 30px;
  cursor: pointer;
  margin-left: 5px;
}

  .tooltip:hover { 
    text-decoration:none;
  } 

  .tooltip span {
    display:none; 
    margin:-30px 0 0 -130px !important; 
    padding:1px 1px !important;   
  } 

  .tooltip:hover span { 
    color: #fff !important;
    display:inline-block; 
    position:absolute !important; 
    border:1px solid #cccccc !important;
    border-radius: 2px !important;
    box-shadow: 0 2px 7px !important; 
    background:#000 !important; 
    color:#fff !important;
    font-family: arial !important;
    font-size: 11px !important;
    opacity:0.8 !important;
    width: 110px !important;
    filter:alpha(opacity=80);      
  }

  .tooltip2:hover { 
    text-decoration:none;
  } 

  .tooltip2 span {
    display:none; 
    margin:-30px 0 0 -48px !important; 
    padding:1px 1px !important;
    width: 30px !important;   
  } 

  .tooltip2:hover span {
    color: #fff !important; 
    display:inline-block; 
    position:absolute !important+; 
    border:1px solid #cccccc !important;
    border-radius: 2px !important;
    box-shadow: 0 2px 7px !important; 
    background:#000 !important; 
    color:#fff !important !important;
    font-family: arial !important;
    font-size: 11px !important;
    opacity:0.8 !important;
    width: 80px;
    filter:alpha(opacity=80);      
  }

