
  .jslider_round .jslider-bg i,
  .jslider_round .jslider-pointer { background-image: url(../images/jslider.round.png); }

  .jslider_round .jslider-pointer { width: 17px; height: 37px; top: -6px; margin-left: -8px; }
