a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var {
	background:transparent;
	border:0 none;
	font-size:100%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:top;
}

ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

table,table td {
	padding:0;
	border:none;
	border-collapse:collapse;
}

img {
	vertical-align:top;
}

embed {
	vertical-align:top;
}

article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video {
	display:block;
}

mark,rp,rt,ruby,summary,time {
	display:inline;
}

html {
	-webkit-text-size-adjust:none;
	font: Arial,Helvetica,sans-serif;
	color: #565656
}

.container {
	position:relative;
	background-color:#eaeaea;
	display:block;
	vertical-align: top;
}

.strip {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	margin:0 auto;
	padding-top:5px;
	background-color:#fff;
}

.event {
	position:relative;
	display:inline-block;
	font-size:14px;
	width:100%;
	padding: 2px 0;
	background-color:#fff;
	border-bottom:1px solid #eae8e8;
}

.event a{
	text-decoration: none;
	color: #71b9d7;
}

.event img {
	display:block;
	float:left;
	width:40px;
	padding:5px;
}

.event span {
	position:absolute;
	float:right;
	color:#a5a5a5;
	font-size:11px;
	font:tahoma;
	bottom:0;
	right:0;
	margin:5px;
	margin-right: 15px;
}

.event_content {
	float:left;
	width:75%;
	display:block;
	padding:5px;
}