/* Grid */
.container_24 {
	margin-left:auto;
	margin-right:auto;
	width:960px;
}

.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16,.grid_17,.grid_18,.grid_19,.grid_20,.grid_21,.grid_22,.grid_23,.grid_24 {
	display:inline;
	float:left;
	position:relative;
	margin-left:5px;
	margin-right:5px;
}

.cluster{
	color:white;
	text-align:center;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	text-shadow:0 0 2px #000;
	-moz-text-shadow:0 0 2px #000;
	-webkit-text-shadow:0 0 2px #000;
	height:46px;
	width:46px;
}

.cluster-1{
	background:url(https://onmyblock.com/media/images/v0-1/clusterMarker3.png) no-repeat;
	line-height:46px;
	width:46px;
	height:46px;
}

.cluster-2{
	background:url(https://onmyblock.com/media/images/v0-1/clusterMarker3.png) no-repeat;
	line-height:53px;
	width:60px;
	height:48px
}

.cluster-3{
	background:url(https://onmyblock.com/media/images/v0-1/clusterMarker3.png) no-repeat;
	line-height:66px;
	width:70px;
	height:56px;
}

.alpha {
	margin-left:0;
}

.omega {
	margin-right:0;
}

.container_24 .grid_1 {
	width:30px;
}

.container_24 .grid_2 {
	width:70px;
}

.container_24 .grid_3 {
	width:110px;
}

.container_24 .grid_4 {
	width:150px;
}

.container_24 .grid_5 {
	width:190px;
}

.container_24 .grid_6 {
	width:230px;
}

.container_24 .grid_7 {
	width:270px;
}

.container_24 .grid_8 {
	width:310px;
}

.container_24 .grid_9 {
	width:350px;
}

.container_24 .grid_10 {
	width:390px;
}

.container_24 .grid_11 {
	width:430px;
}

.container_24 .grid_12 {
	width:470px;
}

.container_24 .grid_13 {
	width:510px;
}

.container_24 .grid_14 {
	width:550px;
}

.container_24 .grid_15 {
	width:590px;
}

.container_24 .grid_16 {
	width:630px;
}

.container_24 .grid_17 {
	width:670px;
}

.container_24 .grid_18 {
	width:710px;
}

.container_24 .grid_19 {
	width:750px;
}

.container_24 .grid_20 {
	width:790px;
}

.container_24 .grid_21 {
	width:830px;
}

.container_24 .grid_22 {
	width:870px;
}

.container_24 .grid_23 {
	width:910px;
}

.container_24 .grid_24 {
	width:950px;
}

.container_24 .prefix_1 {
	padding-left:40px;
}

.container_24 .prefix_2 {
	padding-left:80px;
}

.container_24 .prefix_3 {
	padding-left:120px;
}

.container_24 .prefix_4 {
	padding-left:160px;
}

.container_24 .prefix_5 {
	padding-left:200px;
}

.container_24 .prefix_6 {
	padding-left:240px;
}

.container_24 .prefix_7 {
	padding-left:280px;
}

.container_24 .prefix_8 {
	padding-left:320px;
}

.container_24 .prefix_9 {
	padding-left:360px;
}

.container_24 .prefix_10 {
	padding-left:400px;
}

.container_24 .prefix_11 {
	padding-left:440px;
}

.container_24 .prefix_12 {
	padding-left:480px;
}

.container_24 .prefix_13 {
	padding-left:520px;
}

.container_24 .prefix_14 {
	padding-left:560px;
}

.container_24 .prefix_15 {
	padding-left:600px;
}

.container_24 .prefix_16 {
	padding-left:640px;
}

.container_24 .prefix_17 {
	padding-left:680px;
}

.container_24 .prefix_18 {
	padding-left:720px;
}

.container_24 .prefix_19 {
	padding-left:760px;
}

.container_24 .prefix_20 {
	padding-left:800px;
}

.container_24 .prefix_21 {
	padding-left:840px;
}

.container_24 .prefix_22 {
	padding-left:880px;
}

.container_24 .prefix_23 {
	padding-left:920px;
}

.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0;
}

.clearfix {
	display:block;
}

* html .clearfix {
	height:1%;
}

/* Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var {
	background:transparent;
	border:0 none;
	font-size:100%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:top;
}

ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

table,table td {
	padding:0;
	border:none;
	border-collapse:collapse;
}

img {
	vertical-align:top;
}

embed {
	vertical-align:top;
}

article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video {
	display:block;
}

mark,rp,rt,ruby,summary,time {
	display:inline;
}

/*  Main And Global Properties  */
html,body {
	margin:0;
}

body {
	color:#7d7d7d;
	background:#f6f6f6;
	font-size:12px;
	line-height:21px;
	font-family:Arial,Helvetica,sans-serif;
}

.temp_popup_blocker {
	position:fixed;
	background:#000;
	width:100%;
	height:120%;
	opacity:0;
	margin-top:-100px;
	z-index:9999999999;
}

.temp_popup_container {
	position:fixed;
	background:#000;
	width:100%;
	height:120%;
	opacity:.3;
	margin-top:-100px;
	display:none;
	z-index:9999999999;
}

.temp_popup {
	position:fixed;
	width:430px;
	left:50%;
	top:50%;
	margin-left:-215px;
	margin-top:-252px;
	background:#1e1e1e;
	border-radius:25px;
	padding:20px;
	color:#fff;
	font-size:24px;
	line-height:38px;
	font-weight:700;
	opacity:.9;
	display:none;
	z-index:99999999999;
}

hr {
	color:#eae8e8;
	background-color:#eae8e8;
	height:1px;
	border:none;
}

a {
	color:#71b9d7;
	outline:none;
	cursor:pointer;
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

h1,h3,h5 {
	color:#000;
	margin-bottom:5px;
}

h2,h4,h6 {
	color:#71b9d7;
	margin-bottom:5px;
}

h2 span,h4 span,h6 span {
	color:#000;
}

h1 {
	font-size:17px;
}

h2 {
	font-size:17px;
}

h3 {
	font-size:15px;
}

h4 {
	font-size:15px;
}

h5 {
	font-size:12px;
}

h6 {
	font-size:12px;
}

h5 a {
	color:#000;
	background:url(https://onmyblock.com/media/images/marker-2.png) 11px 6px no-repeat;
	padding:0 0 2px 50px;
}

h5 a:hover {
	color:#71b9d7;
}

h5.aside-title {
	display:inline-block;
	font-size:16px;
	color:#fcfcfc;
}

/*  Header */
header {
	display:inline-block;
	width:100%;
	height:58px;
	margin-bottom:37px;
	position: relative;
	min-width:1300px;
	background:-moz-linear-gradient(top,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 50%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(228,228,228,0.94)),color-stop(1%,rgba(228,228,228,1)),color-stop(17%,rgba(228,228,228,1)),color-stop(24%,rgba(233,234,233,1)),color-stop(41%,rgba(250,252,253,1)),color-stop(42%,rgba(250,250,251,1)),color-stop(43%,rgba(243,243,243,1)),color-stop(44%,rgba(242,242,242,1)),color-stop(76%,rgba(242,242,242,1)),color-stop(77%,rgba(254,253,253,1)),color-stop(78%,rgba(206,207,208,1)),color-stop(79%,rgba(177,179,182,1)),color-stop(80%,rgba(216,218,220,1)),color-stop(81%,rgba(231,233,236,1)),color-stop(82%,rgba(237,239,241,1)),color-stop(93%,rgba(246,246,246,1)),color-stop(99%,rgba(246,246,246,1)),color-stop(100%,rgba(246,246,246,0.94)));
	background:-webkit-linear-gradient(top,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 50%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 44%,rgba(242,242,242,1) 100%);
	background:-o-linear-gradient(top,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 50%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
	background:-ms-linear-gradient(top,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 50%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
	background:linear-gradient(to bottom,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 50%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
}
.homeHeaderBackground {
	width:100%;
	background:-moz-linear-gradient(top,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 50%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(228,228,228,0.94)),color-stop(1%,rgba(228,228,228,1)),color-stop(17%,rgba(228,228,228,1)),color-stop(24%,rgba(233,234,233,1)),color-stop(41%,rgba(250,252,253,1)),color-stop(42%,rgba(250,250,251,1)),color-stop(43%,rgba(243,243,243,1)),color-stop(44%,rgba(242,242,242,1)),color-stop(76%,rgba(242,242,242,1)),color-stop(77%,rgba(254,253,253,1)),color-stop(78%,rgba(206,207,208,1)),color-stop(79%,rgba(177,179,182,1)),color-stop(80%,rgba(216,218,220,1)),color-stop(81%,rgba(231,233,236,1)),color-stop(82%,rgba(237,239,241,1)),color-stop(93%,rgba(246,246,246,1)),color-stop(99%,rgba(246,246,246,1)),color-stop(100%,rgba(246,246,246,0.94)));
	background:-webkit-linear-gradient(top,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 50%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 44%,rgba(242,242,242,1) 100%);
	background:-o-linear-gradient(top,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 50%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
	background:-ms-linear-gradient(top,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 50%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
	background:linear-gradient(to bottom,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 50%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
}
.homeHeader {
	display:inline-block;
	width:966px;
	height:75px;
	margin-bottom:20px;
	position: relative;
}

#left_header {
	width:1%;
	height:80px;
	float:left;
}

#right_header {
	width:1%;
	height:60px;
	float:left;
}

#logo {
	width:105px;
	margin: 0 80px;
	margin-right: 110px;
	height:60px;
	background:url(https://onmyblock.com/media/images/logo.png) 0px 8px no-repeat;
	float:left;
}

#middle_header {
	width:98%;
	height:60px;
	float:left;
}

#top_container {
	width:960px;
	height:80px;
	margin:0 auto;
}

.menu_buttons {
	width:380px;
	height:60px;
	float:left;
	text-align: left;
}

.menu_buttons a {
	padding:2px 5px 5px;
	height:20px;
	width:110px;
	color:gray;
	text-transform:uppercase;
	font-weight:700;
	font-size:13px;
	line-height:24px;
	position:relative;
	display:inline-block;
	text-align:left;
	margin:18px 2px;
}

.menu_buttons .selected {
	color: #3e3e3e;
}

.menu_buttons a:hover {
	color:#333;
}

.menu_buttons a span {
	color: #71b9d7; 
	font-size:18px; 
	margin-right:8px; 
	position:relative; 
}

#user_login_container {
	width:230px;
	float:left;
	height:60px;
	text-align:center;
}

#user_login {
	clear:both;
	color:#6e6e6e;
	font:bold 12px Helvetica,Arial,sans-serif;
	text-decoration:none;
	padding:3px 10px 3px 5px;
	position:relative;
	display:inline-block;
	text-shadow:0 1px 0 #fff;
	background:transparent;
	margin-top:12px;
	z-index:5;
}

#user_login h6 {
	padding-top:8px;
	float:left;
	text-align:center;
}

#user_login h5 {
	color:#fff;
	font-size:11px;
}

#user_login img {
	max-width:30px;
	padding-right:15px;
	float:left;
}

#user_login:hover {
	background:#2b2b2b;
	border-color:#2b2b2b;
	color:#71b9d7;
	text-shadow:none;
	border-top-right-radius:3px;
	border-top-left-radius:3px;
	z-index: 10000;
}

#user_login a {
	display:block;
}

#user_login ul {
	background:#2b2b2b;
	list-style:none;
	position:absolute;
	left:-9999px;
	width:100%;
	padding-bottom:1px;
	padding-top: 1px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
}

#user_login ul li {
	padding:0 3px 4px;
	float:none;
}

#user_login:hover ul {
	float:left;
	top: 36px;
	left:0px;
}

#user_login:hover a {
	background:transparent;
}

#user_login:hover ul a {
	color:#fff;
	margin:0 1px;
	padding:1px;
	text-align:center;
}

#user_login li:hover ul li a:hover {
	background-color:#64a3be;
	border-radius:2px;
}

/* Front Page */

.home_options {
	position:relative;
	margin-left:50%;
}

.home_options ul {
	position: relative;
	width: 800px;
	left:-560px;
	list-style:none;
	overflow:hidden;
}

.home_options li {
	text-align:center;
	text-shadow:0 -2px 2px #4d6274;
	width:150px;
	display:block;
	float:left;
	background:none;
	border:1px solid #2d3234;
}

.home_options .selected {
	-moz-box-shadow:inset 0 0 10px #313436;
	-webkit-box-shadow:inset 0 0 10px #313436;
	box-shadow:inset 0 5px 17px #343c42;
	text-shadow:0 1px #6a747b;
}

.home_options .selected a:hover {
}

.home_options li a:hover {
}

.home_options li a {
	line-height:28px;
	font-weight:700;
	display:block;
	text-decoration:none;
	color:#fff;
}


.browe_top_menu{
	position: relative;
	width: 100%;
	margin-left: 50%;
	left: -500px;
	background:#0c0d0e;
	background:-moz-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 3%,#5a6166 7%,#585f63 14%,#555b60 24%,#46494c 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0c0d0e),color-stop(1%,#585c5f),color-stop(3%,#8a9297),color-stop(7%,#5a6166),color-stop(14%,#585f63),color-stop(24%,#555b60),color-stop(62%,#46494c),color-stop(86%,#484b4c),color-stop(92%,#474a4b),color-stop(94%,#4c4f50),color-stop(98%,#37393a),color-stop(100%,#1e1f20));
	background:-webkit-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 3%,#5a6166 7%,#585f63 14%,#555b60 24%,#46494c 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:-o-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 3%,#5a6166 7%,#585f63 14%,#555b60 24%,#46494c 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:-ms-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 3%,#5a6166 7%,#585f63 14%,#555b60 24%,#46494c 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:linear-gradient(to bottom,#0c0d0e 0%,#585c5f 1%,#8a9297 3%,#5a6166 7%,#585f63 14%,#555b60 24%,#46494c 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
}

.browse_sorting a:hover {
	background: #d16394;
	color: #fff;
}

.browse_sorting_container{
	width:auto; 
	display: inline-block;
	background: #e0e0e0;
	
}

.browse_sorting_container .selected{
	background: #d16394;
	color: #fff;
}

.browse_sorting_container span{
	position: relative;
	padding: 8px 15px;
	top:5px;
	background: #d16394;
	color: #fff;
	border-left: 1px solid #dbdbdb;
	font-weight: 600;
	border: black;
}

.front_slides {
	position:relative;
	width:100%;
	min-width:1300px;
	height:590px;
	margin-top:-36px;
	background:#000;
}

.front_slides_container {
	width:100%;
	height:510px;
	text-align: center;
}

.front_slides_container div {  
	/*max-width:100%;*/
	height:725px;
	margin:0 auto;
	
}

.slides_search {
	position:absolute;
	background:#2f2f2f;
	border:1px solid #000;
	margin-left:1%;
	margin-top: 150px;
	border-radius:5px;
	box-shadow:0 0 9px #000;
	font-family:Tahoma;
	padding:3px;
}

#slides_search_city {
	width:360px;
	height:30px;
	padding:5px;
	font-size:19px;
	margin:0 3px;
	color:#949494;
	border:1px solid #525252;
	box-shadow:inset 0 2px 5px #737373;
	border-radius:3px;
	float:left;
}

#slides_search_city:focus {
	border:1px solid #00b7ff;
}

.slides_search_city {
	width:370px;
	height:30px;
	padding:5px;
	font-size:20px;
	margin:0 3px;
	color:#949494;
	border:1px solid #525252;
	box-shadow:inset 0 2px 5px #737373;
	border-radius:3px;
	float:left;
}

.slides_search_city:focus {
	border:1px solid #00b7ff;
}

.slide_info {
	width:350px;
	height:90px;
	color:#fff;
	font-size:14px;
	position:relative;
	float:right;
	
	text-shadow:0 0 4px #000;
}

.slide_info span:hover {
	text-decoration:underline;
}

#slide_submit_search {
	font-size:18px;
	height:42px;
	width:95px;
	margin-left:3px;
	margin-right:3px;
}

.slides_menu {
	position:relative;
	width:520px;
	height:100px;
	margin:0 auto;
	top:-560px;
	text-align:center;
}

.slides_menu div {
	margin:10px;
	float:left;
	border:1px solid #000;
	box-shadow:0 0 10px #000;
}

.slides_menu div:hover {
	border:1px solid #0079a7;
	box-shadow:0 0 10px #0079a7;
}

.slide_content {
	position:absolute;
	width:1220px;
	height:500px;
	/*margin:0 auto;*/
	top:0px;
	margin: auto;
	margin-top: 120px;
	/*float: left;*/ 
}

.slide_hook {
	position:absolute;
	margin-left: 2%;
	margin-top:  85px;
	color:#fff;
	font-size:38px;
	font-weight:700;
	line-height:40px;
	text-shadow:0 0 10px #000;
}

#front_menu {
	margin-top: 135px;
	width:100%;
	min-width: 1300px;
	height:30px;
	margin-bottom:30px;
	background:#0c0d0e;
	background:-moz-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 3%,#5a6166 7%,#585f63 14%,#555b60 24%,#46494c 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0c0d0e),color-stop(1%,#585c5f),color-stop(3%,#8a9297),color-stop(7%,#5a6166),color-stop(14%,#585f63),color-stop(24%,#555b60),color-stop(62%,#46494c),color-stop(86%,#484b4c),color-stop(92%,#474a4b),color-stop(94%,#4c4f50),color-stop(98%,#37393a),color-stop(100%,#1e1f20));
	background:-webkit-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 3%,#5a6166 7%,#585f63 14%,#555b60 24%,#46494c 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:-o-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 3%,#5a6166 7%,#585f63 14%,#555b60 24%,#46494c 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:-ms-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 3%,#5a6166 7%,#585f63 14%,#555b60 24%,#46494c 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:linear-gradient(to bottom,#0c0d0e 0%,#585c5f 1%,#8a9297 3%,#5a6166 7%,#585f63 14%,#555b60 24%,#46494c 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
}

.tittle-home {
	font-size: 19px;
}

.section-home {
	width: 330px;
	float: left;
}

.section-para {
	margin:auto;
	width: 990px;
	margin-top: 38px;
}

.section_textHome {
	background:-moz-linear-gradient(top,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 51%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(228,228,228,0.94)),color-stop(1%,rgba(228,228,228,1)),color-stop(17%,rgba(228,228,228,1)),color-stop(24%,rgba(233,234,233,1)),color-stop(41%,rgba(250,252,253,1)),color-stop(42%,rgba(250,250,251,1)),color-stop(43%,rgba(243,243,243,1)),color-stop(44%,rgba(242,242,242,1)),color-stop(76%,rgba(242,242,242,1)),color-stop(77%,rgba(254,253,253,1)),color-stop(78%,rgba(206,207,208,1)),color-stop(79%,rgba(177,179,182,1)),color-stop(80%,rgba(216,218,220,1)),color-stop(81%,rgba(231,233,236,1)),color-stop(82%,rgba(237,239,241,1)),color-stop(93%,rgba(246,246,246,1)),color-stop(99%,rgba(246,246,246,1)),color-stop(100%,rgba(246,246,246,0.94)));
	background:-webkit-linear-gradient(top,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 51%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
	background:-o-linear-gradient(top,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 51%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
	background:-ms-linear-gradient(top,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 51%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
	background:linear-gradient(to bottom,rgba(228,228,228,0.94) 0%,rgba(228,228,228,1) 1%,rgba(228,228,228,1) 17%,rgba(233,234,233,1) 24%,rgba(250,252,253,1) 51%,rgba(250,250,251,1) 52%,rgba(243,243,243,1) 53%,rgba(242,242,242,1) 54%,rgba(242,242,242,1) 100%);
	width: 100%;
	height: 115px;
	margin: auto;
	margin-top: 20px;
	position: absolute;
	text-align:center;
	min-width:1300px;
}

/* MyBlock Page */
.home_box_left {
	width:195px;
	left:10px;
	padding:5px;
	/*background:#2b2b2b;*/
	background: #f9f9f9;
	position:relative;
	/*border:1px solid #232323;*/
	border:1px solid #d1d1d1;
	/*border-bottom:3px solid #232323;*/
	border-bottom:3px solid #d1d1d1;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-align:center;
}

.home_box_left_img {
	/*min-width:222px;*/
	min-width: 183px;
	background:#000;
	/*left:-15px;*/
	left:0px;
	position:relative;
	/*border:1px solid #000;*/
	border:1px solid #d1d1d1;
	/*box-shadow:0 0 5px #4b4b4b;*/
	box-shadow:0 0 5px #d1d1d1;
}

.home_box_left_img img {
	/* min-width:222px; */
	min-width: 193px;
}

.home_box_middle {
	width:413px;
	left:20px;
	padding:5px;
	padding-top:5px;
	margin-bottom:10px;
	background:#2b2b2b;
	position:relative;
	border:1px solid #232323;
	border-bottom:3px solid #232323;
	border-radius:2px;
}

.home_box_middle h1 {
	color:#fff;
	text-align:center;
}

.home_box_middle_inner {
	width:433px;
	left:-15px;
	padding:5px;
	margin:10px 0;
	background:#fff;
	position:relative;
	border:1px solid #000;
	box-shadow:0 0 5px #4b4b4b;
}

.home_box_middle_inner img {
	padding:3px;
	padding-right:5px;
}

#stream_options {
	margin:-30px 0 -10px;
	padding:2px 0 0 10px;
	width:400px;
}

#stream_options ul {
}

#stream_options li {
	text-align:center;
	width:115px;
	margin:0 4px;
	line-height:16px;
	float:left;
}

#stream_options li a h6 {
	color:#fff;
	padding-bottom:1px;
}

#stream_options li .selected {
	background:#64a3be;
}

.event {
	width:405px;
	margin:0 5px;
	min-height: 80px;
	padding:5px 10px;
	font-size:13px;
	border-bottom:1px solid #eae8e8;
	background:#fff;
}

.event a {
	font-size:14px;
}

.event_img {
	float:left;
	width:50px;
}

.event_content {
	float:right;
	min-height:33px;
	padding:5px;
	width:330px;
}

.event_time {
	float:left;
	position: absolute;
	top: 65px;
	color:#a5a5a5;
	font-size:11px;
	padding-left:3px;
}

.home_box_invite {
	width:210px;
	height:28px;
	left:10px;
	margin:15px 0;
	display:inline-block;
	background:#2b2b2b;
	position:relative;
	border:1px solid #232323;
	border-bottom:3px solid #232323;
	border-radius:2px;
	text-align:center;
}

.home_box_invite a {
	width:40px;
	height:14px;
	padding:5px;
	margin:2px;
	text-align:center;
	float:right;
	left:10px;
	z-index:1;
}

.home_box_invite h6 {
	width:100px;
	text-align:center;
	float:left;
	position:absolute;
	top:1px;
	left:45px;
	z-index:0;
}

.home_box_invite_img {
	width:50px;
	float:left;
	top:-11px;
	left:-10px;
	position:absolute;
	z-index:1;
	background:#000;
	border:1px solid #000;
	box-shadow:0 0 5px #4b4b4b;
}

#home_stats {
	padding:10px;
	margin-bottom:15px;
	background:#f9f9f9;
	font-weight:700;
	border:1px solid #d1d1d1;
	border-bottom:2px solid #d1d1d1;
	-webkit-box-shadow:inset 0 0 70px 5px #ececec;
	box-shadow:inset 0 0 70px 5px #ececec;
}

#home_stats div {
	margin:3px 1px;
	padding:1px 10px;
}

.home_tabs {
}

.home_tabs ol {
	list-style-type:decimal;
	list-style-position:inside;
}

.home_tabs ol li {
	display:list-item;
	float:none;
	padding-bottom:5px!important;
	font-size:11px;
	font-weight:700;
}

.home_tabs ul {
	margin:25px 0 10px;
	list-style:none;
	overflow:hidden;
}

.home_tabs li {
	text-align:center;
	padding:4px;
	height:20px;
	width:187px;
	display:block;
	float:left;
	background:none;
}

.home_tabs .selected {
	color:#fff;
	background-color:#64a3be;
	border-radius:3px;
}

.home_tabs .selected a:hover {
}

.home_tabs li a:hover {
}

.home_tabs li a {
	font-weight:700;
	display:block;
	text-decoration:none;
	/*color:#fff;*/
	color: #70686c;
}

.home_tabs .tab-content {
	width:auto;
	overflow:hidden;
}

dl#places {
	list-style-type:none;
	margin:0;
	height:auto!important;
}

dl#places .indent {
	padding-top:5px!important;
	padding-bottom:5px!important;
}

dl#places a {
	display:inline-block;
	text-decoration:none;
}

dl#places dt {
	margin:0;
}

dl#places dt a {
	background-color:#71b9d7;
	background-image:url(../images/arrow1.gif);
	background-repeat:no-repeat;
	background-position:100% 12px;
	color:#fff;
	font-size:12px;
	line-height:18px;
	text-transform:uppercase;
	font-weight:700;
	padding:6px 0 6px 21px;
	margin-bottom:4px;
	text-decoration:none;
	display:block;
}

dl#places dt a:hover {
	background-color:#71b9d7;
	color:#fff;
}

dl#places dt.active a {
	background-color:#434950;
	background-image:url(../images/arrow2.gif);
	color:#fff;
}

dl#places dd {
	display:none;
	margin-bottom:0;
	padding-left:0;
}

dl#places dd .indent {
	padding:10px 30px 14px 20px!important;
}

/* Browse Page */
/* browse shortcut icons */
.bi{
	height:25px; 
	width: 270px; 
	padding-top:5px;
}
.bi0{
	display:inline-block; 
	margin-right:5px; 
	width: 55px;
	height: 30px;
	margin-right: 5px;
	text-align: right;
	padding-top: 2px;
}
.bi0 div{
	display:inline-block; 
	font-size: 18px;
	width: 20px;
	margin-right: 10px;
	height: 30px;
}
.bi1{
	display:inline-block; 
	margin-right:5px; 
	width: 55px;
	height: 30px;
	margin-right: 5px;
	text-align: right;
	padding-top: 2px;
}
.bi1 div{
	display:inline-block; 
	font-size: 18px;
	width: 20px;
	margin-right: 10px;
	height: 30px;
}
.bi2{
	display:inline-block; 
	margin-right:5px; 
	width: 55px;
	height: 30px;
	text-align: right;
	padding-top: 2px;
}
.bi2 div{
	display:inline-block; 
	font-size: 14px;
	width: 20px;
	margin-right: 10px;
	height: 30px;
}

#back_browse{
	width: 21px;
	height: 21px;
	position: fixed;
	left: 50%;
	top:50%;
	margin-top: -285px;
	margin-left: 329px;
	font-size: 13px;
	font-weight: 800;
	text-align: center;
	color: #8a8a8a;
	padding: 5px;
	background: #eaeaea;
	box-shadow: 0px 0px 2px #a2a2a2;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	z-index: 999999999;	
}

.browse_popup {
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-270px;
	margin-left:-315px;
	width:630px;
	height:540px;
	visibility:hidden;
	border: 15px solid #eaeaea;
	box-shadow: 0px 0px 2px #bababa;
	z-index:99999999;
}

.browse_popup_shadow {
	position:fixed;
	width:100%;
	height:1600px;
	top:-100px;
	background:#fbfbfb;
	z-index:88888888;
	opacity:.9;
	filter:alpha(opacity=90);
}

#popup_image_container {
	border:2px solid #fff;
}

#popup_loading_box {
	position:fixed;
	font-size:18px;
	top:50%;
	left:50%;
	margin-top:-80px;
	margin-left:-80px;
	width:160px;
	border-radius:3px;
	background:#fafafa;
	border:1px solid #cbcbcb;
	-webkit-box-shadow:inset 0 0 70px 5px #e7e7e7;
	box-shadow:inset 0 0 70px 5px #e7e7e7;
	border-bottom:2px solid #cbcbcb;
	text-align:center;
	padding:15px;
	z-index:99999998;
}

#popup_container {
	width:450px;
	height:695px;
	margin-left:15px;
	border-radius:3px;
	background:#fafafa;
	border:1px solid #cbcbcb;
	box-shadow:0 0 3px 17px #000;
	-webkit-box-shadow:inset 0 0 70px 5px #e7e7e7;
	box-shadow:inset 0 0 70px 5px #e7e7e7;
	border-bottom:3px solid #bfbfbf;
	border-radius:6px;
}

.popup_comment_post {
	width:440px;
	position:relative;
	display:block;
	vertical-align:top;
	height:65px;
	padding:2px 5px;
	font-size:13px;
	border-top:1px solid #cecece;
	overflow:hidden;
}

.popup_comment_post:hover {
	background:#e5e5e5;
}

.popup_comment_post a {
	font-size:12px;
}

.popup_comment_post_img {
	float:left;
	width:50px;
	padding:7px 7px 4px;
}

.popup_comment_post_content {
	padding:5px;
	width:400px;
}

.popup_comment_post_content p {
	height:20px;
}

.popup_comment_post_time {
	width:430px;
	text-align:right;
	color:#a5a5a5;
	font-size:11px;
	padding-right:5px;
}



#scroll_top{
	width: 50px;
	height: 45px;
	position: fixed;
	margin-left: 80%;
	left: -80px;
	bottom: 0px;
	font-size: 13px;
	font-weight: 800;
	text-align: center;
	color: #8a8a8a;
	padding: 5px;
	background: #eaeaea;
	box-shadow: 0px 0px 2px #a2a2a2;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 9999;
}

.browse_item {
	width:280px;
	margin:3px;
	background: #000;
	float: left;
	position: relative;
	border: 15px solid #eaeaea;
	box-shadow: 0px 0px 2px #bababa;
}

.browse_item:hover{
	border: 15px solid #f3f3f3;
}

.browse_item:hover .browse_box .browse_item_header {
	position:absolute;
	width:266px;
	display:block;
	/* background: #000; */
	top: 0;
	padding:7px;
	opacity: 0.4;
	z-index:99999999;
}
.browse_item:hover .browse_box .browse_item_header_other {
	float: left;
	display:inline-block;
	position:absolute; 
	width:266px;
	display:block;
	/* background: #000; */
	top: 0;
	padding:7px;  
	margin-top: -8px;
	/* opacity: 0.4; */
	z-index:99999;
}
.browse_item:hover .browse_box .browse_sweet {
	display:block;
}

.browse_item:hover .browse_box .browse_sweet_border{
	display: block;
}

.browse_item_header {
	display:none;
}

.browse_item_header_other {
	display:none;
}

.browselike{
	color:#6e6e6e;
	position:relative;
	display:inline-block;
	text-shadow:0 1px 0 #fff;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#f3f3f3;
	border:solid 1px transparent;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	margin-right:10px;
	width:34px;
	height:28px;
	left:-5px;
	margin-top:2px;
	float:left;
	padding:7px;
	background:url(https://onmyblock.com/media/images/thumb_up.png) 9px 5px no-repeat #f3f3f3;
}

.browseliked{
	display:inline-block;
	text-shadow:0 1px 0 #fff;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s; 
	background:#f3f3f3;
	border:solid 0px #dcdcdc;
	margin-top:5px;
	width:12px; 
	height:13px;
	background:url(https://onmyblock.com/media/images/thumb_up.png) 7px 5px no-repeat #f3f3f3;
	z-index:100;
}

.myblock_tipsy{
	position:relative;
	display:inline-block;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#f3f3f3;
	border:solid 1px transparent;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	margin-right:10px;
	width:34px;
	height:28px;
	margin-top:2px;
	/* background:url(https://onmyblock.com/media/images/favorite.png) 5px -27px no-repeat #f3f3f3; */
	float:left;
	padding:7px;
	font-size:14px;
	
	background:url(https://onmyblock.com/media/images/icons/myblock.png) 4px 2px no-repeat #f3f3f3;
}

.test{
	color:#6e6e6e;
	position:relative;
	display:inline-block;
	text-shadow:0 1px 0 #fff;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#f3f3f3;
	border:solid 1px transparent;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	margin-right:10px;
	width:34px;
	height:28px;
	left:-5px;
	margin-top:2px;
	/* background:url(https://onmyblock.com/media/images/like_heart.png) 7px 5px no-repeat #f3f3f3; */
	float:left;
	padding:7px;
	background:url(https://onmyblock.com/media/images/thumb_up.png) 9px 5px no-repeat #f3f3f3;
    /*left:20px;*/
    line-height:32px;
    /*-webkit-animation:slideUp 2s linear ;
    -moz-animation:slideUp 2s linear;
    animation:slideUp 2s linear ; */
}

@keyframes slideUp{ 
    0% { top: 10px; /*opacity: 100;*/}  
    100% { top: -30px; /*opacity: 0;*/ }
}
@-webkit-keyframes slideUp{
    0% { top: 10px; /*opacity: 100;*/ }
    100% { top: -30px; /*opacity: 0;*/ }
}
 
.myblock_tipsy:hover{
	/* -webkit-transform:rotate(45deg) scale(1.1); */
	/* -moz-transform:rotate(45deg) scale(1.1); */
}
 
.browse_fav {
	position:relative;
	display:inline-block;
	text-shadow:0 1px 0 #fff;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#f3f3f3;
	border:solid 1px #dcdcdc;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	margin-right:10px;
	width:34px;
	height:32px;
	margin-top:2px;
	background:url(https://onmyblock.com/media/images/favorite.png) 5px -27px no-repeat #f3f3f3;
	float:left;
	padding:7px;
	font-size:14px;
}

.browse_fav:hover {
	color:#333;
	border-color:#999;
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
} 

.browse_like {
	color:#6e6e6e;
	position:relative;
	display:inline-block;
	text-shadow:0 1px 0 #fff;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#f3f3f3;
	border:solid 1px #dcdcdc;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	margin-right:10px;
	width:34px;
	height:32px;
	left:-5px;
	margin-top:2px;
	background:url(https://onmyblock.com/media/images/like_heart.png) 7px 5px no-repeat #f3f3f3;
	float:left;
	padding:7px;
}

.browse_like:hover {
	color:#333;
	border-color:#999;
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

#home {
	min-height: 1800px;
}

#browse_favorited {
	background-position:5px 1px;
}

#browse_liked {
	background-position:7px -23px;
}

#browse_container {
	overflow: initial;
	margin:0 auto;
}

.browse_box {
	width:259px;
	text-align:center;
}

.browse_box span{
	color:#fff;
	text-align: left;
	position:absolute;
	width: 270px;
	font-size: 14px;
	bottom:35px; 
	display: block;
	margin-left: 10px;
	text-shadow: 0px 0px 3px #000;
}

.browse_box_shadow {
	width:257px;
	position:relative;
}


.browse_item_info {
	width: 278px;
	position: absolute;
	bottom: 0px;
	height: 32px;
	color: #fff;
	background: #000;
	border: 1px solid #8d8d8d;
	border-top:none;
	opacity: 0.6;
}

.browse_options {
	width: 1150px;
	display: inline-block;
}

.browse_options ul {
	position: relative;
	list-style:none;
	overflow:hidden;
}

.browse_options li {
	text-align:center;
	text-shadow:0 -2px 2px #4d6274;
	width:19%;
	display:block;
	float:left;
	background:none;
	border:1px solid #2d3234;
}

.browse_options .selected {
	-moz-box-shadow:inset 0 0 10px #313436;
	-webkit-box-shadow:inset 0 0 10px #313436;
	box-shadow:inset 0 5px 17px #343c42;
	text-shadow:0 1px #6a747b;
}

.browse_options .selected a:hover {
}

.browse_options li a:hover {
}

.browse_options li a {
	line-height:28px;
	font-weight:700;
	display:block;
	text-decoration:none;
	color:#fff;
}

.floatbar {
	width:100%;
	height:30px;
	position:relative;
	/*top:58px;*/
	/*z-index:6;*/
	background:#0c0d0e;
	background:-moz-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 4%,#687075 8%,#626a6f 14%,#5f676c 24%,#4f5356 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0c0d0e),color-stop(1%,#585c5f),color-stop(4%,#8a9297),color-stop(8%,#687075),color-stop(14%,#626a6f),color-stop(24%,#5f676c),color-stop(62%,#4f5356),color-stop(86%,#484b4c),color-stop(92%,#474a4b),color-stop(94%,#4c4f50),color-stop(98%,#37393a),color-stop(100%,#1e1f20));
	background:-webkit-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 4%,#687075 8%,#626a6f 14%,#5f676c 24%,#4f5356 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:-o-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 4%,#687075 8%,#626a6f 14%,#5f676c 24%,#4f5356 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:-ms-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 4%,#687075 8%,#626a6f 14%,#5f676c 24%,#4f5356 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:linear-gradient(to bottom,#0c0d0e 0%,#585c5f 1%,#8a9297 4%,#687075 8%,#626a6f 14%,#5f676c 24%,#4f5356 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
}

.floatbar .floating{
	position: fixed;
	top: 0;
}

.floatbar_home {
	width:100%;
	height:30px;
	/* position:absolute; */
	top:728px;
	/*z-index:6;*/
	background:#0c0d0e;
	background:-moz-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 4%,#687075 8%,#626a6f 14%,#5f676c 24%,#4f5356 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0c0d0e),color-stop(1%,#585c5f),color-stop(4%,#8a9297),color-stop(8%,#687075),color-stop(14%,#626a6f),color-stop(24%,#5f676c),color-stop(62%,#4f5356),color-stop(86%,#484b4c),color-stop(92%,#474a4b),color-stop(94%,#4c4f50),color-stop(98%,#37393a),color-stop(100%,#1e1f20));
	background:-webkit-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 4%,#687075 8%,#626a6f 14%,#5f676c 24%,#4f5356 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:-o-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 4%,#687075 8%,#626a6f 14%,#5f676c 24%,#4f5356 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:-ms-linear-gradient(top,#0c0d0e 0%,#585c5f 1%,#8a9297 4%,#687075 8%,#626a6f 14%,#5f676c 24%,#4f5356 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
	background:linear-gradient(to bottom,#0c0d0e 0%,#585c5f 1%,#8a9297 4%,#687075 8%,#626a6f 14%,#5f676c 24%,#4f5356 62%,#484b4c 86%,#474a4b 92%,#4c4f50 94%,#37393a 98%,#1e1f20 100%);
}

.floatbar_home .floating{
	position: fixed;
	top: 0;
}

.like_button {
	float:right;
	clear:both;
}

.like_button {
	color:#6e6e6e;
	font:bold 12px Helvetica,Arial,sans-serif;
	text-decoration:none;
	padding:2px 12px;
	padding-left:27px;
	height:24px;
	width:65px;
	position:relative;
	display:inline-block;
	text-shadow:0 1px 0 #fff;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:url(https://onmyblock.com/media/images/like_heart.png) 5px 2px no-repeat #f3f3f3;
	border:solid 1px #dcdcdc;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}

.like_button:hover {
	color:#333;
	border-color:#999;
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.unlike_button {
	position:absolute;
	float:left;
	margin:5px;
	z-index:1.0E+22;
}

.unlike_button {
	color:#6e6e6e;
	font:bold 12px Helvetica,Arial,sans-serif;
	text-decoration:none;
	padding:2px 12px;
	padding-left:29px;
	height:24px;
	width:65px;
	text-shadow:0 1px 0 #fff;
	background:url(https://onmyblock.com/media/images/like_heart.png) 4px -26px no-repeat #f3f3f3;
	border:solid 1px #dcdcdc;
	border-radius:2px;
}

.unlike_button:hover {
	color:#333;
	border-color:#999;
}

/* Map Page */
#map {
	position:relative;
	top:-41px;
	height:750px;
	width:100%;
	margin-bottom:-58px;
}

.map_search {
	position:relative;
	top:-36px;
	width:100%;
	background:#2e2e2e;
	font-family:Tahoma;
	z-index: 1;
}

.map_search_internal {
	position:relative;
	width:1022px;
	margin-left:50%;
	left:-440px;
	padding:5px;
}

#map_search_city {
	width:500px;
	height:20px;
	padding:5px;
	font-size:18px;
	margin:0 3px;
	color:#949494;
	border:1px solid #5d5d5d;
	box-shadow:inset 0 2px 5px #737373;
	border-radius:3px;
	float:left;
}

.map_popup_container{
	float: left;
	width: 398px;
	height: 148px;
	margin: 0;
	padding: 0;
	border: 1px solid #d9d9d9;
}
.map_popup_container_border{
	float: left;
	margin: 5px;
	border: 1px solid #c6c6c6;
}
.map_popup_container_border img{
	height: 132px;
	width: 180px;
	border: 2px solid #ffffff;
}
.map_popup_content{
	float: right;
	text-align: center;
	width: 190px;
	padding: 10px 5px;
}
.map_popup_content h5{
	margin: 15px 0;
}



/* Register Page */
.box-register {
	width:160px;
	margin-bottom:10px;
	background:#2b2b2b;
	position:relative;
	border:1px solid #232323;
	border-bottom:3px solid #232323;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

.box-register h1 {
	color:#fff;
	text-align:center;
}

.box-register-inner {
	width:205px;
	left:-31px;
	text-align:center;
	padding:7px;
	margin-bottom:15px;
	margin-top:15px;
	background:#fff;
	position:relative;
	border:1px solid #000;
	box-shadow:0 0 5px #4b4b4b;
	-moz-box-shadow:0 0 5px #4b4b4b;
	-webkit-box-shadow:0 0 5px #4b4b4b;
}

.box-register-inner img {
	margin:10px;
}

.box-register-inner-active {
	width:410px;
	left:-140px;
	padding:15px;
	margin-bottom:15px;
	margin-top:15px;
	background:#fff;
	position:relative;
	border:1px solid #000;
	box-shadow:0 0 5px #4b4b4b;
	-moz-box-shadow:0 0 5px #4b4b4b;
	-webkit-box-shadow:0 0 5px #4b4b4b;
	text-align:center;
}

#register-table {
	width:420px;
}

#register-table td {
	padding:3px;
	vertical-align:middle;
}

/* Footer */
aside {
	width:800px;
	position:relative;
	margin:0 auto;
	padding-top:5px;
}

.list-1 {
	display:inline-block;
	margin-left:30px;
}

.list-1 span {
	position:relative;
	top:1px;
}

.list-1 li {
	display:inline-block;
	margin:5px 8px;
	margin-top:7px;
}

.list-1 li a {
	font-size:12px;
	line-height:15px;
	color:#7d7d7d;
}

.list-1 li a:hover {
	color:#fff;
}

footer {
	float:left;
	width:100%;
	margin-top:20px;
	background-color:#232323;
}

/* buttons */
.blue-button {
	color:#fff;
	font:bold 12px Helvetica,Arial,sans-serif;
	text-decoration:none;
	padding:7px 12px;
	position:relative;
	display:inline-block;
	text-shadow:0 1px 0 #6192a5;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#62b2d2;
	border:solid 1px #4da2c4;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}

.blue-button:hover {
	color:#fff;
	border-color:#2c6f8a;
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.blue-button:active {
	color:#fff;
	border-color:#000;
}

.red-button {
	color:#fff;
	font:bold 12px Helvetica,Arial,sans-serif;
	text-decoration:none;
	padding:7px 12px;
	position:relative;
	display:inline-block;
	text-shadow:0 1px 0 #6192a5;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#ed5562;
	border:solid 1px #4da2c4;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}

.red-button:hover {
	color:#fff;
	border-color:#2c6f8a;
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.red-button:active {
	color:#fff;
	border-color:#000;
}

.silver-button {
	color:#6e6e6e;
	font:bold 12px Helvetica,Arial,sans-serif;
	text-decoration:none;
	padding:7px 12px;
	position:relative;
	display:inline-block;
	text-shadow:0 1px 0 #fff;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#f3f3f3;
	border:solid 1px #dcdcdc;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	margin-right:10px;
}

.silver-button:hover {
	color:#333;
	border-color:#999;
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

/* SlideDown element */
.slideDown {
	padding:0 1px 0 0;
}

.slideDown dt {
	background-color:#71b9d7;
	background-image:url(https://onmyblock.com/media/images/arrow1.gif);
	background-repeat:no-repeat;
	background-position:100% 16px;
	box-shadow:1px 1px 1px #d1d1d1;
	color:#fff;
	font-size:14px;
	line-height:22px;
	text-transform:uppercase;
	font-weight:700;
	padding:9px 0 9px 21px;
	margin-bottom:4px;
	text-decoration:none;
	display:block;
	cursor:pointer;
	margin-bottom:10px;
}

.slideDown dt:hover,.slideDown dt.active {
	background-color:#71b9d7;
	color:#fff;
}

.slideDown dt.active {
	background-image:url(https://onmyblock.com/media/images/arrow2.gif);
}

.slideDown dd {
	display:none;
	padding:10px 20px 20px;
}

#block dd {
	display:block;
}

.slideDown.absolute dd {
	position:absolute;
	z-index:999;
	background:#fff;
}

dl#contact_realtor {
	list-style-type:none;
	margin:0;
	height:auto!important;
	text-align:center;
}

dl#contact_realtor .indent {
	padding-top:5px!important;
	padding-bottom:5px!important;
}

dl#contact_realtor a {
	display:inline-block;
	text-decoration:none;
}

dl#contact_realtor dt {
	margin:0;
}

dl#contact_realtor dt a {
	background-color:#64a3be;
	background-image:url(https://onmyblock.com/media/images/arrow1.gif);
	background-repeat:no-repeat;
	background-position:100% 12px;
	color:#fff;
	font-size:12px;
	line-height:18px;
	text-transform:uppercase;
	font-weight:700;
	padding:3px 0;
	margin:0;
	margin-bottom:5px;
	border-radius:3px;
	text-decoration:none;
	display:block;
}

dl#contact_realtor dt a h6 {
	color:#fff;
}

dl#contact_realtor dt.active a {
	background-color:#434950;
	color:#fff;
}

dl#contact_realtor dd {
	display:none;
	margin-bottom:0;
	padding-left:0;
}

dl#contact_realtor dd .indent {
	padding:10px 30px 14px 20px!important;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .browse_item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .browse_item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/*  Added House Page */
#add_house_address{
	width:440px;
	height:24px;
	padding:3px;
	font-size:14px;
	margin:3px 3px;
	margin-bottom: 0;
	color:#949494;
	border:1px solid #c0c0c0;
	float:left;
}


/* Place Profile Page */

.sweet{
	width: 110px;
	height: 20px;
	font-size: 13px;
	font-weight: 600;
	color: #585858;
	padding: 4px;
	background-image: linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	background-image: -o-linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	background-image: -moz-linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	background-image: -webkit-linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	background-image: -ms-linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	box-shadow: 0px 1px 1px #dbdbdb;
}
.sweet p{
	display: inline-block;
}
.sweet span{
	font-size:19px;
	padding: 0px 3px;
	padding-bottom: 5px;
	position: relative;
	margin: 0 5px;
	border-radius: 3px;
}
.sweet:hover{
	background-image: linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
	background-image: -o-linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
	background-image: -moz-linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
	background-image: -webkit-linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
	background-image: -ms-linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
}
.sweet:active{
	color: #fff;
	background: #d6669e;
	border-color: #983b88;
}

.sweetnd{
	color: #fff;
	background: #d6669e;
	border-color: #983b88;
}

.sweetnd p{
	padding-left: 25px;
	margin-top:	-21px;
}

.sweetnd:hover{
	color: #fff;
	background: #d6669e;
	border-color: #983b88;
}


.browse_sweet{
	position: relative;
	font-size: 16px;
	width: 90px;
	font-weight: 600;
	color: #fff;
	padding: 8px 8px;
	padding-bottom: 4px;
	border-radius: 5px;
	margin-left: 83px;
	display: none;
	background: #e575bf;
	z-index: 99999999999;
}

.browse_sweet:hover{
	background: #d560ae;
}

.browse_sweet p{
	display: inline-block;
	font-size:22px; 
	margin-right: 8px;
	margin-left: -5px;
}

.browse_sweet_border{
	position: absolute;
	width: 90px;
	background: #efefef;
	margin-left: 80px;
	padding: 11px 11px;
	opacity: 0.4;
	display: none;
	margin-top: -3px;
	border-radius: 8px;
	z-index: 99999999998;
}
/*
.wishlist var{
	position: absolute;
	white-space: nowrap;
	top: -40px;
	left: -50px;
	background: #000;
	color: #fff;
	font-size: 11px;
	font-weight: 600;
	padding: 5px 10px;
	text-align: center;
	display: none;
	opacity: 0.6;
	border-radius: 5px;
	z-index: 999999;
}*/

.wishlist p{
	/*position: absolute;
	white-space: nowrap;
	top: -40px;
	left: -50px;
	background: #000;*/
	color: #000;
	/*font-size: 11px;
	font-weight: 600;
	padding: 5px 10px;*/
	text-align: center;
	/*display: none;*/
	opacity: 0.6;
	border-radius: 5px;
	z-index: 999999;
}

.wishlist:hover p{
	/*/display: block;*/
}

.wishlistBlank{
	width: 95px;
	height: 20px;
	font-size: 13px;
	font-weight: 600;
	color: #585858;
	padding: 4px;
	background-image: linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	background-image: -o-linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	background-image: -moz-linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	background-image: -webkit-linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	background-image: -ms-linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	box-shadow: 0px 1px 1px #dbdbdb;
}

.wishlistBlank:hover{
	background-image: linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
	background-image: -o-linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
	background-image: -moz-linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
	background-image: -webkit-linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
	background-image: -ms-linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
}

.wishlist{
	width: 95px;
	height: 20px;
	font-size: 13px;
	font-weight: 600;
	color: #585858;
	padding: 4px;
	background-image: linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	background-image: -o-linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	background-image: -moz-linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	background-image: -webkit-linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	background-image: -ms-linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	box-shadow: 0px 1px 1px #dbdbdb;
}
.wishlist span{
	font-size:16px;
	padding: 0px 3px;
	padding-bottom: 5px;
	position: relative;
	/*margin: 0 5px;*/
	border-radius: 3px;
}

.wishlist:hover{
	background-image: linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
	background-image: -o-linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
	background-image: -moz-linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
	background-image: -webkit-linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
	background-image: -ms-linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
}

.wishlist:active{
	color: #fff;
	background: #67ab64;
	border-color: #497d31;
}

.wishlisted{
	color: #fff;
	background: #67ab64;
	border-color: #497d31;
}

.wishlisted:hover{
	color: #fff;
	background: #67ab64;
	border-color: #497d31;
}

.wishlisted p{
	color: white;
	left: -45px;
	opacity: 1;
}

.photo_edit_container{
	width: 600px;
	position: fixed;
	background: #fff;
	margin: 0;
	padding-bottom: 0;
}
.photo_edit_header{
	width: 579px;
	height: 130px;
	margin: 3px;
	padding: 5px;
	border: 1px solid #dfdfdf;
	background: #f2f2f2;
}

.photo_edit_header span{
	margin-left: 140px;
	font-size: 11px;
}

.photo_edit_header form{
	width: 300px;
	height: 50px;
	margin-left: 40px;
	margin-top: 42px;
	float: left;
}
#upload_photo{
	float:left; 
	width:200px;
	height: 34px;
	color:#6e6e6e;
	font:bold 12px Helvetica,Arial,sans-serif;
	text-decoration:none;
	padding:7px 12px;
	position:relative;
	display:inline-block;
	text-shadow:0 1px 0 #fff;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#f3f3f3;
	border:solid 1px #dcdcdc;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	margin-right:10px;
}
.profile_photo{
	width: 180px;
	height: 130px;
	float: left;
	background: #000000;
}
.profile_photo div{
	width: 180px;
	height: 130px;
	background: -webkit-linear-gradient(rgba(0,0,0,0) 63.25%, rgba(0,0,0,0.85) 100%);
	color: #fff;
	text-shadow: 0px 3px 3px rgba(150, 150, 150, 1);
}
.profile_photo div h6{
	position: absolute;
	margin-top: 110px;
	margin-left: 10px;
	color: #fff;
}
.edit_photo{
	width: 179px;
	height: 158px;
	display: inline-block;
	margin: 3px;
	padding: 5px;
	border: 1px solid #dfdfdf;
	background: #f2f2f2;
}
.edit_photo img{
	width: 179px;
	height: 123px;
}
.edit_photo_profile{
	color:#fff;
	font:bold 11px Helvetica,Arial,sans-serif;
	text-decoration:none;
	padding:5px 5px;
	margin-top: 6px;
	position:relative;
	display:inline-block;
	text-shadow:0 1px 0 #6192a5;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#62b2d2;
	border:solid 1px #4da2c4;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}

.edit_photo_profile:hover {
	color:#fff;
	border-color:#2c6f8a;
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.edit_photo_delete{
	color:#fff;
	font:bold 11px Helvetica,Arial,sans-serif;
	margin-left: 2px;
	text-decoration:none;
	padding:5px 7px;
	margin-top: 6px;
	position:relative;
	display:inline-block;
	text-shadow:0px 1px 0px #a66363;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#d16363;
	border:solid 1px #c54c4c;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}

.edit_photo_delete:hover {
	color:#fff;
	border-color:#8a2c2c;
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.edit_photo_cancel{
	color:#fff;
	font:bold 11px Helvetica,Arial,sans-serif;
	margin-left: 2px;
	text-decoration:none;
	padding:5px 7px;
	margin-top: 6px;
	position:relative;
	display:inline-block;
	text-shadow:0px 1px 0px #a66363;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#d16363;
	border:solid 1px #c54c4c;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}

.edit_photo_cancel:hover {
	color:#fff;
	border-color:#8a2c2c;
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.place_left_container{
	background: #fff;
	border:1px solid #d1d1d1;
	border-bottom:2px solid #d1d1d1;
	margin-bottom: 10px;
}

.a_tabs {
	width:100%;
	margin-left:0px;
	margin-top:0;
}

.place_list_neighbors{
	width:128px; 
	height:170px; 
	padding: 10px 11px 10px 10px; 
	display:inline-block; 
	text-align:center; 	
	border-right:1px solid #eae8e8;
}

.place_list_neighbors:hover{
	background:#fafafa;
}

.place_tabs ol {
	list-style-type:decimal;
	list-style-position:inside;
}

.place_tabs ol li {
	display:list-item;
	float:none;
	font-size:11px;
	font-weight:700;
}

.place_tabs ul {
	list-style:none;
	overflow:hidden;
	position: relative;
	top:1px;
	z-index: 0;
	width: 460px; 
}

.place_tabs li {
	text-align:center;
	width:130px;
	height:25px;
	background: #fff;
	margin-left: 15px;
	padding: 2px;
	background-color:#f4f4f4;
	border: 1px solid #cfcfcf;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	float:left;
}

.place_tabs li:hover {
	background-color:#ffffff;
	color: #a3a3a3;
}

.place_tabs li h5 {
	color:#797979;
}

.place_tabs .selected {
	background-color:#ffffff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid #ffffff;
}

.place_tabs li a {
	font-weight:700;
	display:block;
	text-decoration:none;
	color:#fff;
}

.place_tab_border{
	display: block;
	width: 100%;
	height: 10px;
	border-top: 1px solid #cfcfcf;
	z-index: 0;
}

.place_tabs .tab-content {
	margin: 5px 15px;
	margin-bottom: 0;
	width:600px;
	background:#fff;
	position:relative;
}

.place_username_box {
	width:140px;
	height:50px;
	margin-top:50px;
	text-align:left;
	background:-moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.7)));
	background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	background:-o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	background:-ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#b3000000',GradientType=0);
}

.place_username_box a {
	color:#fff;
	position:relative;
	padding:5px;
	top:28px;
}

.place_username_box a:hover {
	text-decoration:underline;
}

.place_sidebar_box {
	width:300px;
	padding:5px;
	margin:10px;
	background:#fff;
	border:1px solid #d1d1d1;
	border-bottom:2px solid #d1d1d1;
	text-align:center;
}

.place_sidebar_box h5{
	text-align: left;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 14px;
	color: #535353;
	width: 260px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ebebeb;
}



.stat_row {
	width:220px;
	height:27px;
	padding-top: 7px;
	display:block;
	margin-left:40px;
	text-align:left;
	border-top: 1px solid #e7e7e7; 
	text-shadow: 0px 1px 0px #fff;
}

.stat_row:hover {
	background: #fcfcfc;
}


.stat_row div {
	display: inline-block;
	width: 55px;
	text-align: center;
	position: relative;
}

.stat_row span {
	display: inline-block;
}

.stat_row span a {
	font-weight: 800;
	color: #646464;
}

#short_url{
	border: none;
	background: transparent;
	width: 80px;
	position: relative;
	font-weight: 800;
	color: #646464;
	outline:none;
	margin-left: -2px;
	text-shadow: 0px 1px 0px #fff;
}

.stat_row iframe {
	border:none;
	overflow:hidden;
	width:160px;
	height:25px;
	position: relative;
	top:-1px;
	visibility:hidden;
	margin-left:14px;
}

.place_edit_co{
	position: relative;
	display: inline-block;
	width:240px;
	padding: 10px;
	padding-left: 25px;
	margin-bottom: 20px;
}

.place_edit_item{
	width: 240px;
	padding: 10px;
}

.place_edit_text{
	width:190px;
	height: 20px;
	margin-left: 10px;
	padding:3px;
	font-size: 14px;
	color: #6e6e6e;
	border: 1px solid #d9d9d9;
}

#place_name{
	font-size: 22px;
	font-weight: 800;
	line-height: 24px;
	color: #4c4c4c;
}

.noselect{
	-moz-user-select: none; 
	-o-user-select: none; 
	-webkit-user-select: none; 
	-ie-user-select: none; 
	user-select: none;
}

#place_name_popup{
	font-size: 22px;
	font-weight: 800;
	line-height: 24px;
	color: #71b9d7;
	/*#4c4c4c;*/
}

.place_sidebar_stats {
	width:300px;
	padding:5px;
	margin:10px;
	font-weight: 800;
	color: #646464;
	margin-top: 0;
	background: url(https://onmyblock.com/media/images/place_stats_bg.jpg) #f0f0f0;
	border:1px solid #d1d1d1;
	border-bottom:2px solid #d1d1d1;
	text-align:center;

}

.place_sidebar_inner div {
	margin:10px 5px;
	padding:5px 20px;
}

.place_wall {
	position:relative;
	width:620px;
}

#comment_input {
	width:485px;
	margin:10px;
	height:20px;
	padding:9px 10px;
	font-size:12px;
	line-height:1.23em;
	font-family:Arial,Helvetica,sans-serif;
	vertical-align:middle;
	font-weight:400;
	color:#7d7d7d;
	outline:none;
	border:1px solid #ddd;
}

#comment_input:focus {
	background-color:#ffffe0;
}

.send_post {
	color:#6e6e6e;
	font:bold 12px Helvetica,Arial,sans-serif;
	text-decoration:none;
	padding:9px 10px;
	height:35px;
	top:1px;
	position:relative;
	text-shadow:0 1px 0 #fff;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#f3f3f3;
	border:solid 1px #dcdcdc;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	margin-top:10px;
}

.send_post:hover {
	color:#333;
	border-color:#999;
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.place_wall_post {
	width:578px;
	margin-left: -15px;
	position:relative;
	display:block;
	vertical-align:top;
	height:85px;
	padding:5px 25px;
	font-size:13px;
	border-top:1px solid #eae8e8;
	overflow:hidden;
}

.place_wall_post iframe{
	border:none; 
	overflow:hidden; 
	width:35; 
	height:25px; 
	visibility:hidden; 
	float:right; 
	position:absolute; 
	left:560px; 
	top:27px;
}

.place_wall_post:hover {
	background:#f4f4f4;
}

.place_wall_post a {
	font-size:14px;
}

.place_wall_post_img {
	float:left;
	padding: 7px 15px 10px 0;
}

.place_wall_post_content {
	padding:5px;
	width:510px;
}

.place_wall_post_content p {
	height:40px;
}

.place_wall_post_time {
	width:550px;
	text-align:right;
	color:#a5a5a5;
	font-size:11px;
	padding-right:5px;
}

.reply_form {
	position:absolute;
	margin-top:8px;
	margin-left:90px;
}

#place_sidebar h5 {
	margin-left:20px;
}

#reply_input {
	width:367px;
	margin:5px;
	margin-top:4px;
	padding:0 12px;
	height:23px;
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
	vertical-align:middle;
	font-weight:400;
	color:#7d7d7d;
	outline:none;
	border:1px solid #ddd;
}

#send_reply {
	color:#6e6e6e;
	font:bold 12px Helvetica,Arial,sans-serif;
	text-decoration:none;
	text-align:center;
	height:25px;
	width:80px;
	position:relative;
	display:inline-block;
	text-shadow:0 1px 0 #fff;
	-webkit-transition:border-color .218s;
	-moz-transition:border .218s;
	-o-transition:border-color .218s;
	background:#f3f3f3;
	border:solid 1px #dcdcdc;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	margin-right:10px;
}

#send_reply:hover {
	color:#333;
	border-color:#999;
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

#coin-slider {
	overflow:hidden;
	background:url(../images/loader.gif) 50% 50% no-repeat;
	margin:0 auto;
}

.coin-slider {
	background-color:#000;
	position:relative;
	margin:0 auto;
}

.coin-slider a {
	text-decoration:none;
	outline:none;
	border:none;
}

.cs-buttons {
	font-size:0;
	position:absolute;
	line-height:0;
	bottom:20px;
	right:17px;
}

.cs-buttons a {
	margin-right:2px;
	height:10px;
	width:10px;
	background:#2b2b2b;
	display:inline-block;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

.cs-buttons a:hover,.cs-buttons a.cs-active {
	background:#64a3be;
}

/* .cs-prev {
	margin-top:-15px;
	height: 400px;
	margin-top:-200px;
}

.cs-next {
	margin-top:-15px;
	width:550px;
	height: 400px;
	margin-top:-200px;
} */

/* .cs-prev img {
	opacity:.4;
	margin-top: 180px;
}

.cs-next img {
	opacity:.4;
	float: right;
	margin-top: 180px;
} */

/* .cs-prev img:hover {
	opacity:.9;
}

.cs-next img:hover {
	opacity:.9;
} */

#place_map {
	width:600px;
	height:370px;
}

#place_street_view {
	width:600px;
	height:370px;
}

#place_street_na{
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	padding-top: 175px;
	font-size: 16px;
	background:#fff;
	font-weight: 800;
	color: #b3b3b3;
}


#aToolTip {
	background:#2b2b2b;
	color:#fff;
	font-weight:700;
	margin:0;
	padding:2px 8px;
	font-size:12px;
	position:absolute;
	display:none;
	border-radius:2px;
	z-index:50000;
}

#form-1,#form-2,#form-3,#form-4,#form-5 {
	display:block;
	padding:0;
}

.width-1 {
	float:left;
	width:122px;
}

.width-2 {
	float:left;
	width:270px;
}

.width-3 {
	float:left;
	width:133px;
}

.width-4 {
	float:left;
	width:84px;
}

.width-5 {
	float:left;
	width:80px;
}
.w-2{width:200px;}
.w-3{width:300px;}
.w-4{width:400px;}
.w-5{width:500px;}

.text-form {
	display:block;
	width:100%;
	font-size:12px;
	line-height:17px;
	color:#000;
	padding:4px 0 6px;
	font-weight:700;
	font-family:Arial,Helvetica,sans-serif;
}

.text-form1 {
	float:left;
	width:26px;
	font-size:12px;
	line-height:25px;
	color:#c7c7c7;
	padding:0;
	text-align:center;
	font-family:Arial,Helvetica,sans-serif;
}

/* form-2 */
.text-form2 {
	float:left;
	width:36px;
	font-size:12px;
	line-height:17px;
	letter-spacing:1px;
	color:#7d7d7d;
	padding:4px 0 0 1px;
	text-align:left;
	font-family:Arial,Helvetica,sans-serif;
}

.text-form3 {
	float:left;
	width:44px;
	font-size:12px;
	line-height:17px;
	letter-spacing:1px;
	color:#7d7d7d;
	padding:4px 0 0 1px;
	text-align:left;
	font-family:Arial,Helvetica,sans-serif;
}

.text-form4 {
	float:left;
	width:37px;
	font-size:12px;
	line-height:17px;
	color:#7d7d7d;
	padding:4px 0 0 1px;
	text-align:center;
	font-family:Arial,Helvetica,sans-serif;
}

/* */
.rows {
	height:55px;
	margin:0;
	width:100%;
}

.rows-1 {
	height:54px;
	width:100%;
	margin:0;
}

.buttons {
	padding:19px 0 0;
}

.buttons .button-1 .txt {
	padding:0 11px 6px;
}

.buttons-1 {
	padding:20px 0 0;
}

/* -------------
 * Inputs
 * ------------- */
.width-1 input {
	font-size:12px;
	line-height:1.23em;
	color:#c7c7c7;
	margin:0;
	padding:5px;
	width:110px!important;
	position:relative;
	height:14px;
	background:#fff;
	border:1px solid #ebebeb;
	z-index:1;
	float:left;
}

/* -------------
 * Selects
 * ------------- */
/************** #form-1 *************************/
.width-1 .jqTransformSelectWrapper {
	position:relative;
	height:41px;
	background:#fff;
	margin:0 3px;
}

.width-1 .jqTransformSelectWrapper div {
	font-size:15px;
	padding-top:11px;
	padding-bottom:7px;
	text-align:center;
	color:#909090;
	white-space:nowrap;
	height:24px;
	overflow:hidden;
	cursor:pointer;
	box-shadow:inset 0 2px 5px #737373;
}

.width-1 .jqTransformSelectWrapper ul,.width-2 .jqTransformSelectWrapper ul,.width-5 .jqTransformSelectWrapper ul {
	position:absolute;
	font-size:16px;
	z-index:5;
	left:-1px;
	list-style:none;
	background:#fff;
	border:1px solid #ebebeb;
	display:none;
	margin:0;
	text-align:center;
	overflow:auto;
	border-radius: 0px 0px 4px 4px;
}

.jqTransformSelectWrapper a.jqTransformSelectOpen {
	background: url('https://onmyblock.com/media/images/selectDropDown.png') no-repeat;
	display:block;
	position:absolute;
	right:0;
	top:0;
	width:43px;
	height:32px;
	margin-right: 14px;
	margin-top: 6px;
}

.jqTransformSelectWrapper ul a {
	display:block;
	padding:3px;
	text-decoration:none;
	color:#c7c7c7;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	line-height:1.23em;
}

.jqTransformSelectWrapper ul a.selected {
	color:#000;
}

.jqTransformSelectWrapper ul a:hover,.jqTransformSelectWrapper ul a.selected:hover {
	color:#000;
}

#form-2 .jqTransformSelectWrapper a.jqTransformSelectOpen {
	display:block;
	position:absolute;
	right:1px;
	top:1px;
	width:19px;
	height:19px;
}

.icon-action {
	display:block;
	width:35px;
	height:20px;
	float:left;
	text-align:center;
	padding: 5px;
	color:#919191;
	border-left: 1px solid #dbdbdb;
	font-weight: 600;
	font-size:11px;
	background:#f5f5f5;
}



.jqTransformHidden {
	display:none;
}


div.linkd:hover {
	background-image: url('http://onmyblock.com/media/images/team/linkedinGra.png');
}