/**
 *  @description [description]
 *  @author [author]
 *  @version [version]
 *  @copyright [description]
 *  
 */
body {
  background: #F6F6F6;
  width: 100%;
  height: 100%;
  position: relative;
}
h1 {
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
  height: 52px;
  color: #000 !important;
}
h2 {
  font-family: arial;
  font-size: 18px;
  height: 52px;
  color: #000 !important;
}
span {
  font-size: 16px;
  display: inline-block;
  color: #000 !important;
}
p {
  line-height: 44px !important;
}
.hidden {
  display: none;
}
.error {
  color: #c20000 !important;
  display: block;
  font-family: arial;
  font-size: 11px !important;
  font-weight: normal !important;
  height: 10px;
  position: absolute;
  left: 12px;
  top: 48px;
  width: 260px;
}
.registrado {
  color: #005C84;
  font-family: arial;
  font-size: 20px;
  height: auto;
  margin-top: 31px;
  text-align: center;
  width: 100%;
}
#hblink99 {
  display: none !important;
}
#wrapper {
  float: left;
  height: auto;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}
header {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 2px solid #333333;
  box-shadow: 0 2px 7px;
  height: 58px;
  position: fixed;
  width: 100%;
  z-index: 99999;
}
header .logo {
  background: url(../images/logo.png) no-repeat 0 0;
  height: 42px;
  width: 120px;
  display: block;
  left: 0;
  float: left;
  top: 8px;
  position: absolute;
}
header .works a {
  font-family: arial;
  font-size: 13px;
  color: gray;
  font-weight: 700;
  width: 150px;
  height: 24px;
  padding-top: 23px;
  right: 0;
  float: left;
  position: absolute;
}
header .works a:hover {
  color: #000;
  text-decoration: none;
}
header .conterfbprincipalmap {
  position: relative;
  width: 142px;
  height: 27px;
  cursor: pointer;
  margin-top: 17px;
  float: right;
}
header .conterfbprincipalmap:hover {
  border: 1px solid #2c6f8a;
  border-radius: 2px;
}
header #contentlogin {
  position: relative;
  width: 150px;
  height: 27px;
  cursor: pointer;
  margin-top: 8px;
  float: right;
}
header #contentlogin .topminipic img {
  float: left;
  height: 30px;
  margin-left: 8px;
  margin-top: 7px;
  width: 30px;
}
header #contentlogin .idnametop a {
  color: #71B9D7;
  display: inline-block;
  float: left;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  margin-left: 10px;
  padding-top: 17px;
  text-decoration: none;
  width: auto;
}
header #contentlogin .despledat {
  background: none repeat scroll 0 0 #2B2B2B;
  border-radius: 2px;
  box-shadow: 0 2px 3px;
  height: 76px;
  padding-left: 5px;
  padding-top: 42px;
  position: absolute;
  top: 0;
  width: 136px;
  z-index: -1;
}
header #contentlogin .despledat ul {
  list-style: none;
}
header #contentlogin .despledat ul li a {
  color: #FFFFFF;
  display: inline-block;
  font-family: arial;
  font-size: 13px;
  height: 19px;
  margin-top: 10px;
  padding-top: 4px;
  text-align: center;
  text-decoration: none;
  width: 130px;
}
header #contentlogin .despledat ul li a:hover {
  background: #71B9D7;
  border-radius: 4px;
  color: #2B2B2B;
  font-weight: bold;
}
header .conterimgfbmap {
  background: url(../images/btnFacebookoff.jpg) no-repeat 0 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 142px;
  height: 27px;
  z-index: 111;
  cursor: pointer;
  float: left;
}
header .conterfbcodemap {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  width: 142px;
  height: 27px;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 111;
  cursor: pointer;
}
header .menu ul {
  height: auto;
  left: 50%;
  list-style: none outside none;
  margin: 20px auto 0 -222px;
  position: absolute;
}
header .menu ul li {
  color: gray;
  display: block;
  float: left;
  font-family: arial;
  font-size: 13px;
  font-weight: 700;
  height: 24px;
  margin-left: 36px;
  padding-left: 30px;
  padding-top: 5px;
  width: auto;
}
header .menu ul li a {
  color: gray;
  display: block;
  text-decoration: none;
}
header .menu ul li a:hover {
  color: #000;
}
header .menu ul li .on {
  color: #000 !important;
}
header .menu ul .home {
  background: url(../images/iconmyblock.png) no-repeat 0 0;
}
header .menu ul .myblock {
  background: url(../images/iconmyblock.png) no-repeat 0 0;
}
header .menu ul .browse {
  background: url(../images/iconbrowse.png) no-repeat 0 0;
}
header .menu ul .map {
  background: url(../images/iconmap.png) no-repeat 0 0;
}
header .menu ul .hide {
  display: none !important;
}
footer {
  background-color: #232323;
  font-family: arial;
  font-size: 13px;
  bottom: 0;
  float: left;
  height: 40px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 99999;
}
footer .sublogo {
  color: #FFFFFF;
  font-family: arial;
  float: left;
  font-size: 18px;
  height: 28px;
  padding-top: 10px;
  width: 117px;
}
footer nav ul {
  height: auto;
  width: auto;
  margin-top: 15px;
}
footer nav ul li {
  color: #7D7D7D;
  float: left;
  font-size: 12px;
  height: 26px;
  list-style: disc;
  margin-left: 19px;
  padding-left: 7px;
  padding-right: 9px;
  width: auto;
}
footer nav ul li a {
  color: #7D7D7D;
  cursor: pointer;
  text-decoration: none;
}
footer nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}
footer nav ul .nocircle {
  list-style: none !important;
}
section {
  float: left;
  height: auto;
  position: relative;
  width: 100%;
}
section img {
  float: left;
}
article {
  /*border: 1px solid red;*/

  float: left;
  height: auto;
  left: 50%;
  margin-left: -500px;
  position: absolute;
  top: 0;
  width: 980px;
  z-index: 3;
}
/*section 1*/
#section-1 article {
  /************** #busqueda *************************/

}
#section-1 article .box1 {
  float: left;
  width: 550px;
  height: 100%;
  margin-top: 100px;
  position: relative;
}
#section-1 article .title01 {
  font-family: arial;
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  margin-left: 3%;
  margin-top: 214px;
  position: absolute;
  text-shadow: 0 0 10px #000000;
}
#section-1 article .box2 {
  float: left;
  width: 408px;
  height: auto;
  margin-left: 15px;
  margin-top: 100px;
}
#section-1 article .w-4 {
  width: 400px;
}
#section-1 article .width-1 {
  float: left;
}
#section-1 article .slides_search {
  background: none repeat scroll 0 0 #2F2F2F;
  border: 1px solid #000000;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 9px #000000;
  font-family: Tahoma;
  margin-left: 1%;
  margin-top: 50%;
  padding: 3px;
  position: absolute;
  width: 503px;
}
#section-1 article .blue-button {
  background: none repeat scroll 0 0 #62B2D2;
  border: 1px solid #4DA2C4;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  display: inline-block;
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  margin-left: 5px;
  padding: 7px 12px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 0 #6192A5;
  transition: border 0.218s ease 0s;
  width: 95px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #section-1 article .slides_search {
    margin-top: 270px;
  }
}
#section-1 article .fblogin {
  background: url("../images/popupLogin.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 310px;
  margin-top: 106px;
  position: absolute;
  width: 360px;
  right: 0;
}
#section-1 article .conterfbprincipal {
  position: relative;
  width: 295px;
  height: 49px;
  cursor: pointer;
}
#section-1 article .conterimgfb {
  background: url(../images/btnFacebook.png) no-repeat 0 0;
  position: absolute;
  left: 22px;
  top: 92px;
  width: 295px;
  height: 49px;
  z-index: 111;
  cursor: pointer;
}
#section-1 article .conterfbcode {
  position: absolute;
  left: 22px;
  top: 92px;
  overflow: hidden;
  width: 295px;
  height: 49px;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 111;
  cursor: pointer;
}
#section-1 article .likefb {
  position: absolute;
  margin-top: 155px;
  margin-left: 25px;
  width: 300px;
  height: auto;
}
#section-1 article .fb-like {
  width: 300px !important;
}
#section-1 article .pls {
  width: 300px !important;
}
#section-1 article .pts {
  width: 300px !important;
}
/**** Seccion 2 ****/
#section-2 aside {
  background: #2E2E2E;
  width: 100%;
  height: 48px;
  margin-top: 0 auto;
  position: relative;
}
#section-2 aside .slides_search_city {
  border: 1px solid #525252;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 5px #737373 inset;
  color: #949494;
  float: left;
  font-size: 20px;
  height: 26px;
  margin: 6px -3px;
  padding: 4px;
  width: 370px;
}
#section-2 aside #filter ul {
  height: auto;
  left: 50%;
  list-style: none outside none;
  margin: 8px auto 0 -105px;
  position: absolute;
  width: 55%;
}
#section-2 aside #filter ul .price {
  background: none repeat scroll 0 0 #D16394;
  border: medium none black;
  color: #FFFFFF;
  float: left;
  font-family: arial;
  font-weight: 600;
  height: 19px;
  padding: 7px 2px 7px 14px;
  position: relative;
  top: 0;
  width: 48px;
}
#section-2 aside #filter ul li a {
  background: none repeat scroll 0 0 #F5F5F5;
  border-left: 1px solid #DBDBDB;
  color: #919191;
  display: block;
  float: left;
  font-family: arial;
  font-size: 11px;
  font-weight: 600;
  height: 15px;
  padding: 10px 5px 5px;
  text-align: center;
  text-decoration: none;
  width: 35px;
}
#section-2 aside #filter ul li a:hover {
  background: #D16394;
  color: #fff;
}
#section-2 aside #filter ul .rooms {
  background: none repeat scroll 0 0 #D16394;
  border: medium none black;
  color: #FFFFFF;
  float: left;
  font-family: arial;
  font-weight: 600;
  height: 19px;
  padding: 7px 2px 7px 14px;
  position: relative;
  top: 0;
  width: 61px;
}
#section-2 aside #filter ul .lineprice {
  width: 210px;
  float: left;
}
#section-2 #map {
  float: left;
  height: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;
}
#section-3 aside {
  background: linear-gradient(to bottom, #0c0d0e 0%, #585c5f 1%, #8a9297 3%, #5a6166 7%, #585f63 14%, #555b60 24%, #46494c 62%, #484b4c 86%, #474a4b 92%, #4c4f50 94%, #37393a 98%, #1e1f20 100%) repeat scroll 0 0 transparent;
  width: 100%;
  height: 30px;
  margin-top: 60px;
  position: fixed;
  z-index: 9999;
}
#section-3 article ul {
  list-style: none;
  width: 100% !important;
  height: auto;
}
#section-3 article ul li a {
  border-right: 1px solid #2D3234;
  font-size: 13px;
  height: 22px;
  display: block;
  width: 122px;
  color: #fff;
  float: left;
  font-family: arial;
  text-shadow: 0 -2px 2px #4d6274;
  text-align: center;
  padding-top: 4px;
  text-decoration: none;
}
#section-3 article ul li a:hover {
  box-shadow: 0 5px 17px #343c42 inset;
  text-shadow: 0 1px #6a747b;
}
#section-3 article ul .active {
  box-shadow: 0 5px 17px #343c42 inset;
  text-shadow: 0 1px #6a747b;
}
#section-3 article .searchbrowse {
  position: relative;
}
#section-3 article .searchbrowse input {
  float: left;
  width: 282px;
  height: 20px;
  display: block;
  margin-left: 15px;
  margin-top: -12px;
}
#section-3 article .searchbrowse .imglupa {
  background: url("../images/lupa.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 16px;
  position: absolute;
  right: 68px;
  top: -6px;
  width: 17px;
  z-index: 99999;
}
#section-4 {
  margin-top: 25px;
}
#section-4 article #dataprofile {
  border: 2px solid #ccc;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 7px 14px #999;
  display: block;
  float: left;
  margin-top: 60px;
  height: 306px;
  width: 190px;
}
#section-4 article #dataprofile .imgprofile img {
  width: 180px;
  height: 158px;
  padding: 5px;
}
#section-4 article #dataprofile .idname {
  color: #62B2D2;
  font-family: arial;
  font-size: 16px;
  height: 25px;
  text-align: center;
  text-transform: capitalize;
  width: 190px;
  display: inline-block;
}
#section-4 article #dataprofile .accesos ul {
  list-style: none;
}
#section-4 article #dataprofile .accesos ul li a {
  color: #70686C;
  display: inline-block;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  height: 22px;
  margin-top: 10px;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  width: 190px;
}
#section-4 article #dataprofile .accesos ul li a:hover {
  background: #62B2D2 !important;
  color: #fff !important;
}
#section-4 article #dataprofile .accesos ul .on {
  background: #62B2D2 !important;
  color: #fff !important;
}
#section-4 article #contentprofile {
  /*border: 1px solid red;*/

  display: block;
  float: left;
  height: auto;
  margin-left: 15px;
  margin-top: 60px;
  width: 500px;
}
#section-4 article #contentprofile .link01 {
  background: #F3F3F3;
  border: 1px solid #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  color: #6E6E6E;
  margin-left: 10px;
  display: inline-block;
  float: left;
  width: 150px;
  height: 105px;
  cursor: pointer;
}
#section-4 article #contentprofile .link01:hover {
  border: 1px solid #999;
  color: #333;
  box-shadow: 0px 0px 7px #999;
}
#section-4 article #contentprofile .imglink01 a {
  background: url("../images/home_browse.png") no-repeat scroll center top transparent;
  color: #666666;
  display: inline-block;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  height: 42px;
  line-height: 15px;
  margin-left: 15px;
  margin-top: 8px;
  padding-top: 46px;
  text-align: center;
  text-decoration: none;
  width: 120px;
}
#section-4 article #contentprofile .imglink02 a {
  background: url("../images/home_add.png") no-repeat scroll center top transparent;
  color: #666666;
  display: inline-block;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  height: 42px;
  line-height: 15px;
  margin-left: 15px;
  margin-top: 8px;
  padding-top: 46px;
  text-align: center;
  text-decoration: none;
  width: 120px;
}
#section-4 article #contentprofile .imglink03 a {
  background: url("../images/home_invite.png") no-repeat scroll center top transparent;
  color: #666666;
  display: inline-block;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  height: 42px;
  line-height: 15px;
  margin-left: 15px;
  margin-top: 8px;
  padding-top: 46px;
  text-align: center;
  text-decoration: none;
  width: 120px;
}
#section-4 article #contentprofile .listlinks {
  height: 134px;
  width: 500px;
}
#section-4 article #contentprofile .contentaccesos {
  /*border: 1px solid #000000;*/

  height: auto;
  margin-top: 20px;
  padding: 13px;
  width: 472px;
  position: relative;
}
#section-4 article #contentprofile #contfavorite {
  text-align: center;
  height: auto;
  position: relative;
}
#section-4 article #contentprofile #contfavorite .goto a {
  background: #62B2D2;
  border: 1px solid #4DA2C4;
  font-size: 12px;
  font-family: arial;
  font-weight: bold;
  width: 280px;
  height: 20px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
}
#section-4 article #contentprofile #contfavorite .goto a:hover {
  border: 1px solid #2c6f8a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #fff;
}
#section-4 article #contentprofile #contfavorite .hidefavorite {
  display: none;
}
#section-4 article #contentprofile #contfavorite .popsfavorites {
  position: relative;
  width: 475px;
  height: 150px;
  margin-bottom: 10px;
}
#section-4 article #contentprofile #contfavorite .imgfv img {
  box-shadow: 0 2px 7px #999;
  float: left;
  width: 180px;
  height: 130px;
  display: inline-block;
  border: 0;
  z-index: 2;
}
#section-4 article #contentprofile #contfavorite .datafavor {
  background: none repeat scroll 0 0 #232323;
  display: inline-block;
  float: left;
  height: 94px;
  margin-top: 3px;
  padding: 15px 35px;
  text-align: center;
  width: 220px;
  z-index: 1;
}
#section-4 article #contentprofile #contfavorite .datafavor ul {
  list-style: none;
}
#section-4 article #contentprofile #contfavorite .datafavor ul li {
  background: url("../images/spriteiconfav.png") no-repeat scroll 12px 0 transparent;
  display: inline-block;
  float: left;
  height: 30px;
  margin-left: 15px;
  width: 52px;
  text-align: center;
}
#section-4 article #contentprofile #contfavorite .datafavor ul li span {
  color: #666666 !important;
  display: inline-block;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  margin-top: 33px;
  text-align: center;
  width: 47px;
}
#section-4 article #contentprofile #contfavorite .datafavor ul .icon01 {
  background-position: -59px 0;
}
#section-4 article #contentprofile #contfavorite .datafavor ul .icon02 {
  background-position: -130px 0;
}
#section-4 article #contentprofile #contfavorite .closepop {
  background: url("../images/delete.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 28px;
  position: absolute;
  right: -4px;
  top: -2px;
  width: 28px;
  cursor: pointer;
}
#section-4 article #contentprofile #contprofile {
  text-align: center;
  height: auto;
}
#section-4 article #contentprofile #contprofile .bgdata {
  background: none repeat scroll 0 0 #2b2b2b;
  height: 311px;
  margin-left: 15px;
  position: relative;
  width: 450px;
}
#section-4 article #contentprofile #contprofile .datinter {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 2px solid #2b2b2b;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 2px 3px #999999;
  height: auto;
  left: -14px;
  margin-top: 35px;
  position: absolute;
  width: 472px;
  z-index: 2;
}
#section-4 article #contentprofile #contprofile .dataprofile {
  display: block;
  height: 50px;
  padding: 40px;
  width: 392px;
}
#section-4 article #contentprofile #contprofile .minipic img {
  float: left;
  width: 50px;
  height: 50px;
  display: block;
  box-shadow: 0 1px 2px #999;
}
#section-4 article #contentprofile #contprofile .idnamemini {
  color: #000000;
  float: left;
  font-family: comic sans ms;
  font-size: 30px;
  height: 42px;
  padding-top: 8px;
  text-transform: capitalize;
  width: 259px;
}
#section-4 article #contentprofile #contprofile .dataacount {
  display: block;
  height: auto;
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  text-align: center;
  width: 392px;
}
#section-4 article #contentprofile #contprofile .email {
  font-family: arial;
  font-size: 13px;
  color: #999;
  font-weight: bold;
  border-top: 1px dotted #ccc;
  width: 400px;
  height: 26px;
  padding: 5px;
  text-align: left;
}
#section-4 article #contentprofile #contprofile .networks {
  font-family: arial;
  font-size: 13px;
  color: #999;
  font-weight: bold;
  border-top: 1px dotted #ccc;
  width: 400px;
  height: 26px;
  padding: 5px;
  text-align: left;
}
#section-4 article #contentprofile #contprofile .mylikes {
  font-family: arial;
  font-size: 13px;
  color: #999;
  font-weight: bold;
  border-top: 1px dotted #ccc;
  width: 400px;
  height: auto;
  padding: 5px;
  text-align: left;
}
#section-4 article #contentprofile #contprofile .mylikes div ul {
  list-style: none;
  margin-left: 100px;
}
#section-4 article #contentprofile #contprofile .mylikes div ul li a {
  display: inline-block;
  color: #71B9D7;
  font-size: 12px;
  font-family: arial;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  height: 20px;
  margin-bottom: 5px;
  text-align: center;
}
#section-4 article #contentprofile #contplaces {
  text-align: center;
}
#section-4 article #contentprofile #contplaces .addyour a {
  background: #62B2D2;
  border: 1px solid #4DA2C4;
  font-size: 12px;
  font-family: arial;
  font-weight: bold;
  width: 280px;
  height: 20px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
}
#section-4 article #contentprofile #contplaces .addyour a:hover {
  border: 1px solid #2c6f8a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #fff;
}
#section-4 article #dataright {
  margin-left: 15px;
  float: left;
  width: 246px;
  height: 350px;
  display: block;
  margin-top: 60px;
  text-align: center;
}
#section-4 article #dataright .data01 {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #D1D1D1;
  box-shadow: 0 0 70px 5px #ECECEC inset;
  height: auto;
  margin-bottom: 58px;
  padding: 10px 10px 10px 11px;
  text-align: left;
  width: 222px;
}
#section-4 article #dataright .data01 ul {
  list-style: none;
}
#section-4 article #dataright .data01 ul li {
  border-bottom: 1px dotted #999999;
  color: #999999;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  height: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 224px;
}
#section-4 article #dataright .data01 ul li a {
  color: #71B9D7;
  text-decoration: none;
}
#section-4 article #dataright .data01 ul .noborder {
  border: none !important;
}
#section-4 article #dataright span {
  color: #000000;
  display: inline-block;
  font-family: arial;
  font-size: 13px;
  padding-bottom: 10px;
}
#section-5 article .boxhowitworks {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 4px 4px 14px #333333;
  font-family: arial;
  font-size: 14px;
  height: auto;
  line-height: 26px;
  margin-top: -632px;
  padding: 66px;
  width: 819px;
  color: #999;
  text-align: justify;
}
#section-5 article .boxhelp {
  margin-top: -1020px;
}
#section-5 article .boxprivacy {
  margin-top: -1200px;
}
#section-5 article .boxterms {
  margin-top: -3990px;
}
#section-6 article #boxdata {
  float: left;
  height: auto;
  margin-top: 88px;
  width: 600px;
}
#section-6 article #boxdata .datatabs {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px: solid #999;
  box-shadow: 0 2px 7px #666;
  width: auto;
  height: auto;
}
#section-6 article #boxdata .datatabs #mainplace {
  height: 70px;
  padding: 28px 10px;
  position: relative;
}
#section-6 article #boxdata .datatabs #mainplace .stagebadge {
  background: url(../images/spritebadges.png) no-repeat 0 0;
  display: inline-block;
  float: left;
  height: 75px;
  left: 12px;
  margin-right: 10px;
  position: absolute;
  top: 12px;
  width: 75px;
}
#section-6 article #boxdata .datatabs #mainplace .stagebadge1 {
  background: url(../images/spritebadges.png) no-repeat right 0;
  display: inline-block;
  float: left;
  height: 75px;
  left: 12px;
  margin-right: 10px;
  position: absolute;
  top: 12px;
  width: 75px;
}
#section-6 article #boxdata .datatabs #mainplace .stagebadge2 {
  background: url(../images/spritebadges.png) no-repeat 0 -82px;
  display: inline-block;
  float: left;
  height: 75px;
  left: 12px;
  margin-right: 10px;
  position: absolute;
  top: 12px;
  width: 75px;
}
#section-6 article #boxdata .datatabs #mainplace .stagebadge3 {
  background: url(../images/spritebadges.png) no-repeat right -82px;
  display: inline-block;
  float: left;
  height: 75px;
  left: 12px;
  margin-right: 10px;
  position: absolute;
  top: 12px;
  width: 75px;
}
#section-6 article #boxdata .datatabs #mainplace .stagebadge4 {
  background: url(../images/spritebadges.png) no-repeat 0 -164px;
  display: inline-block;
  float: left;
  height: 75px;
  left: 12px;
  margin-right: 10px;
  position: absolute;
  top: 12px;
  width: 75px;
}
#section-6 article #boxdata .datatabs #mainplace .stagebadge5 {
  background: url(../images/spritebadges.png) no-repeat right -164px;
  display: inline-block;
  float: left;
  height: 75px;
  left: 12px;
  margin-right: 10px;
  position: absolute;
  top: 12px;
  width: 75px;
}
#section-6 article #boxdata .datatabs #mainplace .stagebadge6 {
  background: url(../images/spritebadges.png) no-repeat 0 -248px;
  display: inline-block;
  float: left;
  height: 75px;
  left: 12px;
  margin-right: 10px;
  position: absolute;
  top: 12px;
  width: 75px;
}
#section-6 article #boxdata .datatabs #mainplace .stagebadge7 {
  background: url(../images/spritebadges.png) no-repeat right -248px;
  display: inline-block;
  float: left;
  height: 75px;
  left: 12px;
  margin-right: 10px;
  position: absolute;
  top: 12px;
  width: 75px;
}
#section-6 article #boxdata .datatabs #mainplace .titleplace {
  float: left;
  height: 62px;
  margin-left: 87px;
  width: 182px;
}
#section-6 article #boxdata .datatabs #mainplace .titleplace span {
  display: inline-block;
  font-size: 30px;
  font-family: arial;
  font-weight: bold;
  color: #4C4C4C;
}
#section-6 article #boxdata .datatabs #mainplace .titleplace a {
  background: url("../images/myblock.png") no-repeat -2px -1px;
  background-size: 15px;
  color: #71B9D7;
  display: inline-block;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  padding-left: 14px;
  text-decoration: none;
  width: 156px;
}
#section-6 article #boxdata .datatabs #mainplace .sociallog {
  float: left;
  height: 57px;
  position: relative;
  width: 267px;
  margin-left: 44px;
}
#section-6 article #boxdata .datatabs #mainplace .addfav {
  background: linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
  border: 1px solid #B0B0B0;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 7px #999999;
  color: #585858;
  cursor: pointer;
  float: left;
  font-family: arial;
  font-size: 13px;
  height: 16px;
  padding: 8px;
  text-align: right;
  width: 160px;
}
#section-6 article #boxdata .datatabs #mainplace .addfav:hover {
  background: linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
}
#section-6 article #boxdata .datatabs #mainplace .addfav a {
  background: url("../images/myblock.png") no-repeat scroll 4px -3px transparent;
  color: #585858;
  display: inline-block;
  font-weight: 700;
  height: 24px;
  padding-left: 7px;
  padding-top: 1px;
  text-align: center;
  text-decoration: none;
  width: 160px;
}
#section-6 article #boxdata .datatabs #mainplace .bgadd {
  background: none repeat scroll 0 0 #67AB64;
  border-color: #497D31;
  color: #fff;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 7px #999999;
  color: #585858;
  cursor: pointer;
  float: left;
  font-family: arial;
  font-size: 13px;
  height: 16px;
  padding: 8px;
  text-align: right;
  width: 160px;
}
#section-6 article #boxdata .datatabs #mainplace .bgadd a {
  background: url("../images/myblock_w.png") no-repeat scroll 4px -3px transparent;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  height: 24px;
  padding-left: 7px;
  padding-top: 1px;
  text-align: center;
  text-decoration: none;
  width: 160px;
}
#section-6 article #boxdata .datatabs #mainplace .bgliked {
  background: none repeat scroll 0 0 #D6669E;
  border-color: #983B88;
  color: #fff;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 7px #999999;
  color: #585858;
  cursor: pointer;
  float: left;
  font-family: arial;
  font-size: 13px;
  height: 16px;
  margin-left: 10px;
  padding: 8px;
  text-align: right;
  width: 55px;
}
#section-6 article #boxdata .datatabs #mainplace .bgliked a {
  background: url("../images/thumb_up_w.png") no-repeat scroll left bottom transparent;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  height: 16px;
  padding-left: 12px;
  padding-top: 1px;
  text-align: center;
  text-decoration: none;
  width: 53px;
}
#section-6 article #boxdata .datatabs #mainplace .likebtn {
  background: linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
  border: 1px solid #B0B0B0;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 7px #999999;
  color: #585858;
  cursor: pointer;
  float: left;
  font-family: arial;
  font-size: 13px;
  height: 16px;
  margin-left: 10px;
  padding: 8px;
  text-align: right;
  width: 55px;
}
#section-6 article #boxdata .datatabs #mainplace .likebtn:hover {
  background: linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
}
#section-6 article #boxdata .datatabs #mainplace .likebtn a {
  background: url("../images/likeimg.png") no-repeat scroll 2px -3px transparent;
  color: #585858;
  display: inline-block;
  font-weight: 700;
  height: 16px;
  padding-left: 10px;
  padding-top: 1px;
  text-align: center;
  text-decoration: none;
  width: 53px;
}
#section-6 article #boxdata .datatabs .tabsline {
  height: 35px;
  padding-left: 16px;
  text-align: center;
  width: 584px;
}
#section-6 article #boxdata .datatabs .tabsline a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #F4F4F4;
  border-color: #cccccc #cccccc -moz-use-text-color;
  border-image: none;
  border-radius: 4px 4px 0 0;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #2B2B2B;
  display: inline-block;
  float: left;
  font-family: arial;
  font-size: 12px;
  font-weight: 700;
  height: 10px;
  margin-left: 8px;
  padding: 12px;
  text-decoration: none;
  width: 106px;
}
#section-6 article #boxdata .datatabs .tabsline a:hover {
  background: #fff;
}
#section-6 article #boxdata .datatabs .tabsline .on {
  background: #fff;
}
#section-6 article #boxdata .datatabs #contenttabsline {
  border-top: 1px solid #CCCCCC;
  height: auto;
  padding-left: 22px;
  text-align: center;
  width: 576px;
}
#section-6 article #boxdata .datatabs #contenttabsline .datphotos {
  width: 555px;
  height: auto;
  text-align: center;
}
#section-6 article #boxdata .datatabs #contenttabsline .datedit {
  height: auto;
  padding: 5px;
  width: 550px;
}
#section-6 article #boxdata .datatabs #contenttabsline .bgedit {
  background: none repeat scroll 0 0 #F2F2F2;
  border: 1px solid #DFDFDF;
  display: block !important;
  height: 130px;
  margin: 15px 3px 3px -16px;
  padding: 5px;
  width: 568px;
}
#section-6 article #boxdata .datatabs #contenttabsline .imgeditprof {
  display: block !important;
}
#section-6 article #boxdata .datatabs #contenttabsline .imgeditprof img {
  display: block !important;
  float: left;
  height: 130px;
  margin-right: 15px;
  width: 180px;
}
#section-6 article #boxdata .datatabs #contenttabsline .dataeditpro {
  display: block !important;
  float: left;
  height: 130px;
  text-align: center;
  width: 370px;
}
#section-6 article #boxdata .datatabs #contenttabsline .dataeditpro form {
  display: block !important;
  float: left;
  height: 50px;
  margin-left: 10px;
  margin-top: 42px;
  width: 300px;
}
#section-6 article #boxdata .datatabs #contenttabsline .dataeditpro span {
  font-family: arial !important;
  font-size: 12px !important;
  color: #666 !important;
}
#section-6 article #boxdata .datatabs #contenttabsline .edit_photo_profile {
  background: none repeat scroll 0 0 #62B2D2;
  border: 1px solid #4DA2C4;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  display: inline-block;
  font-family: arial;
  font-size: 12px;
  margin-top: 39px;
  padding: 7px 14px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 0 #6192A5;
  transition: border 0.218s ease 0s;
}
#section-6 article #boxdata #carrusel {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 16px;
  box-shadow: 0 2px 7px #666;
  background: #fff;
  border: 1px solid #ccc;
  width: auto;
  height: 210px;
  position: relative;
}
#section-6 article #boxdata #carrusel .namecarrusel {
  width: 100%;
  height: 20px;
  color: #666;
  font-family: arial;
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
#section-6 article #boxdata #carrusel .moveimages ul {
  list-style: none;
  margin-top: 15px;
}
#section-6 article #boxdata #carrusel .moveimages ul li {
  border-right: 1px solid #CCCCCC;
  float: left;
  height: 180px;
  margin-left: 8px;
  padding-right: 18px;
  width: 120px;
  text-align: center;
  cursor: pointer;
}
#section-6 article #boxdata #carrusel .moveimages ul li:hover {
  background: #FAFAFA;
}
#section-6 article #boxdata #carrusel .moveimages ul li a {
  text-decoration: none;
}
#section-6 article #boxdata #carrusel .moveimages ul li img {
  border: none;
  width: 130px;
  height: 98px;
  display: inline-block;
}
#section-6 article #boxdata #carrusel .moveimages ul li div {
  font-family: arial;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  height: 20px;
  margin-top: 5px;
  text-align: center;
}
#section-6 article #boxdata #carrusel .moveimages ul li .dat-1 {
  color: #71B9D7;
  font-size: 12px;
}
#section-6 article #boxdata #carrusel .moveimages ul li .dat-2 {
  color: #999;
  font-size: 12px;
}
#section-6 article #boxdata #carrusel .moveimages ul li .dat-3 {
  color: #ccc;
  font-size: 12px;
}
#section-6 article #boxdata #carrusel .moveimages ul .noborder {
  margin-left: 0 !important;
}
#section-6 article #boxdata #carrusel .moveimages ul .noright {
  border-right: 0 !important;
  padding-right: 0 !important;
}
#section-6 article #boxdata #datatabs02 {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 2px 7px #666666;
  height: auto;
  padding-top: 35px;
  width: auto;
  margin-bottom: 150px;
  position: relative;
}
#section-6 article #boxdata #datatabs02 .tabsline {
  height: 35px;
  padding-left: 16px;
  text-align: center;
  width: 584px;
}
#section-6 article #boxdata #datatabs02 .tabsline a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #F4F4F4;
  border-color: #cccccc #cccccc -moz-use-text-color;
  border-image: none;
  border-radius: 4px 4px 0 0;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #2B2B2B;
  display: inline-block;
  float: left;
  font-family: arial;
  font-size: 12px;
  font-weight: 700;
  height: 10px;
  margin-left: 8px;
  padding: 12px;
  text-decoration: none;
  width: 106px;
}
#section-6 article #boxdata #datatabs02 .tabsline a:hover {
  background: #fff;
}
#section-6 article #boxdata #datatabs02 .tabsline .on {
  background: #fff;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 {
  border-top: 1px solid #CCCCCC;
  height: auto;
  padding-left: 22px;
  text-align: center;
  width: 576px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 .datphotos2 {
  width: 554px;
  height: auto;
  text-align: center;
  padding-top: 35px;
  position: relative;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 .datphotos2 input {
  background: #fff;
  float: left;
  border: 1px solid #DDDDDD;
  color: #7D7D7D;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 20px;
  margin: 10px;
  outline: medium none;
  padding: 9px 10px;
  vertical-align: middle;
  width: 446px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 .datphotos2 input:focus {
  background: #FFFFE0;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 .btnpost {
  background: none repeat scroll 0 0 #F3F3F3;
  display: block !important;
  border: 1px solid #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  color: #6E6E6E;
  cursor: pointer;
  float: left;
  font: bold 12px Helvetica, Arial, sans-serif;
  height: 20px;
  margin-top: 9px;
  padding: 9px 18px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
  top: 1px;
  transition: border 0.218s ease 0s;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 .btnpost:hover {
  border: 1px solid #000;
  font-weight: bold;
  box-shadow: 0 2px 7px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted {
  border-top: 1px solid #DDDDDD;
  display: block !important;
  cursor: pointer;
  height: 120px;
  margin-left: -22px;
  margin-top: 84px;
  padding-left: 33px;
  padding-top: 25px;
  width: 567px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted:hover {
  background: #F4F4F4;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted .imgface {
  display: block !important;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted .alldata {
  display: block !important;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted .imgface img {
  display: block !important;
  float: left;
  width: 86px;
  height: 71px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted .contentpost {
  display: block !important;
  float: left;
  height: 60px;
  padding-left: 25px;
  padding-top: 15px;
  text-align: left;
  width: 375px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted .contentpost span {
  color: #333 !important;
  font-size: 12px !important;
  font-family: arial;
  display: block !important;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted .usertitle {
  display: block !important;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted .usertitle a {
  background: none repeat scroll 0 0 transparent !important;
  border: medium none !important;
  color: #71B9D7 !important;
  cursor: pointer;
  display: inline-block !important;
  font-family: arial;
  font-size: 14px !important;
  height: 18px;
  margin-top: 0 !important;
  text-decoration: none;
  width: auto;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted .likes {
  background: none repeat scroll 0 0 #F3F3F3;
  border: 1px solid #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  color: #6E6E6E;
  display: block !important;
  float: left;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  height: 18px;
  margin-top: 14px;
  padding: 9px 6px 6px 22px;
  position: relative;
  width: 15px;
  z-index: 99999;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted .silike {
  background: url("../images/thumb_up.png") no-repeat scroll 0 -18px transparent;
  display: inline-block !important;
  float: left;
  height: 18px;
  left: 5px;
  position: absolute;
  width: 30px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted .numlike {
  margin-top: 3px;
  display: block !important;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted .now {
  color: #666666;
  float: left;
  font-family: arial;
  font-size: 12px;
  font-weight: 700;
  height: 13px;
  margin: 15px 15px 15px 0;
  position: inherit;
  width: auto;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted .nopost {
  font-family: arial;
  font-size: 13px;
  color: #666;
  width: auto;
  height: 20px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted #replydat {
  position: absolute;
  right: 12px;
  bottom: 17px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted #replydat .inpreply {
  width: 300px !important;
  height: 10px !important;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #dataposted #replydat .btnpost {
  height: 14px !important;
  padding-top: 5px;
  width: 44px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 .datmap2 {
  width: 484px;
  height: 200px;
  text-align: center;
  padding: 35px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 .col01 {
  color: #666666;
  display: block !important;
  float: left;
  font-family: arial;
  font-size: 13px;
  height: 100px;
  line-height: 22px;
  text-align: left;
  width: 264px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 .col02 {
  color: #666666;
  display: block !important;
  float: left;
  font-family: arial;
  font-size: 13px;
  height: 100px;
  line-height: 22px;
  margin-left: 75px;
  text-align: left;
  width: auto;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 .datstreet2 {
  width: 484px;
  height: auto;
  text-align: center;
  padding: 35px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 .col03 {
  color: #666666;
  display: block !important;
  font-family: arial;
  font-size: 13px;
  height: auto;
  line-height: 22px;
  margin-left: 10px;
  text-align: justify;
  width: auto;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 .datedit2 {
  width: 484px;
  height: auto;
  padding: 35px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 .titleform {
  color: #000000;
  display: block !important;
  height: 50px;
  font-family: arial;
  font-size: 17px;
  font-weight: normal;
  margin-left: -32px;
  text-align: left;
  width: 300px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit {
  width: 520px;
  height: auto;
  display: block !important;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit div {
  display: block !important;
  width: auto;
  height: auto;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .titleform {
  color: #000000;
  display: block !important;
  height: 50px;
  font-family: arial;
  font-size: 17px;
  font-weight: normal;
  margin-left: -32px;
  text-align: left;
  width: 300px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .colleft {
  display: block !important;
  height: auto;
  float: left;
  margin-bottom: 15px;
  text-align: left;
  width: 230px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .colleft div {
  display: block !important;
  height: 18px;
  font-family: arial;
  font-size: 12px;
  font-weight: 700;
  color: #666;
  width: auto;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .colleft input {
  border: 1px solid #D9D9D9;
  color: #6E6E6E;
  font-size: 14px;
  height: 20px;
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 3px;
  width: 190px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .colright {
  display: block !important;
  height: auto;
  float: left;
  margin-bottom: 15px;
  margin-left: 40px;
  position: relative;
  text-align: left;
  width: 230px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .colright div {
  display: block !important;
  height: 18px;
  font-family: arial;
  font-size: 12px;
  font-weight: 700;
  color: #666;
  width: auto;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .colright input {
  border: 1px solid #D9D9D9;
  color: #6E6E6E;
  font-size: 14px;
  height: 20px;
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 3px;
  width: 190px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .description {
  display: block !important;
  height: 50px;
  font-family: arial;
  font-size: 12px;
  font-weight: 700;
  color: #666;
  text-align: left;
  width: 200px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit textarea {
  border: 1px solid #D9D9D9;
  color: #6E6E6E;
  height: 221px;
  font-size: 14px;
  margin-bottom: 50px;
  margin-left: -16px;
  margin-top: 28px;
  overflow: hidden;
  padding: 3px;
  resize: horizontal;
  width: 476px;
  word-wrap: break-word;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .sumitform {
  display: inline-block !important;
  height: 130px;
  margin-top: 29px;
  padding-top: 20px;
  text-align: left;
  width: 510px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .sumitform div {
  display: block !important;
  height: 18px;
  font-family: arial;
  font-size: 12px;
  font-weight: 700;
  color: #666;
  width: auto;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .sumitform .place_edit_text {
  border: 1px solid #D9D9D9;
  color: #6E6E6E;
  font-size: 14px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding: 3px;
  width: 326px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .sumitform .btnfind {
  background: none repeat scroll 0 0 #62B2D2;
  border: 1px solid #4DA2C4;
  border-radius: 2px 2px 2px 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-size: 13px;
  margin: -3px auto auto 50px;
  padding: 7px 13px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 0 #6192A5;
  transition: border 0.218s ease 0s;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .sumitform .btnfind:hover {
  border-color: #2C6F8A;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  text-decoration: none;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .sumitform .save {
  background: none repeat scroll 0 0 #62B2D2;
  border: 1px solid #4DA2C4;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: bold 12px Helvetica, Arial, sans-serif;
  float: left;
  padding: 7px 12px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 0 #6192A5;
  transition: border 0.218s ease 0s;
  left: -40px;
  margin-left: 218px;
  text-align: center;
  position: relative;
  width: 72px;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .sumitform .save:hover {
  border-color: #2C6F8A;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #fff;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .sumitform .cancel {
  background: none repeat scroll 0 0 #D16363;
  border: 1px solid #C54C4C;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  left: -40px;
  float: left;
  margin-left: 2%;
  padding: 7px;
  position: relative;
  width: 72px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #A66363;
  transition: border 0.218s ease 0s;
}
#section-6 article #boxdata #datatabs02 #contenttabsline2 #formedit .sumitform .cancel:hover {
  border-color: #8A2C2C;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #fff;
}
#section-6 article #boxdatarigth {
  float: left;
  height: 1106px;
  margin-left: 30px;
  margin-top: 88px;
  width: 310px;
}
#section-6 article #boxdatarigth #dataviews {
  background: url("../images/place_stats_bg.jpg") no-repeat scroll 0 0 transparent;
  border: 2px solid #D1D1D1;
  color: #646464;
  height: 268px;
  margin-bottom: 10px;
  padding: 15px 10px 20px;
  position: relative;
  text-align: left;
  width: 280px;
}
#section-6 article #boxdatarigth #dataviews .datalog {
  width: 100%;
  height: 60px;
}
#section-6 article #boxdatarigth #dataviews .datalog span {
  color: #646464 !important;
  font-family: arial;
  font-size: 12px;
  font-weight: 800;
  display: inline-block;
  margin-top: 32px;
  width: 70px;
  height: 16px;
  text-align: center;
}
#section-6 article #boxdatarigth #dataviews .icon1 {
  background: url(../images/ps_rent.png) no-repeat top center;
  float: left;
  width: 70px;
  height: 58px;
  display: inline-block;
  margin-left: 30px;
  text-align: center;
}
#section-6 article #boxdatarigth #dataviews .icon2 {
  background: url(../images/ps_bedrooms.png) no-repeat top center;
  float: left;
  width: 70px;
  height: 58px;
  display: inline-block;
  margin-left: 7px;
}
#section-6 article #boxdatarigth #dataviews .icon3 {
  background: url(../images/ps_bathrooms.png) no-repeat top center;
  float: left;
  width: 70px;
  height: 58px;
  display: inline-block;
  margin-left: 6px;
}
#section-6 article #boxdatarigth #dataviews .datuser {
  width: 250px;
}
#section-6 article #boxdatarigth #dataviews .datuser ul {
  list-style: none;
}
#section-6 article #boxdatarigth #dataviews .datuser ul li {
  border-top: 1px solid #e3e2e2;
  color: #646464;
  font-family: arial;
  font-size: 12px;
  font-weight: 800;
  height: 18px;
  margin-bottom: 6px;
  margin-left: 27px;
  padding-top: 10px;
  width: 180px !important;
  padding-left: 36px;
  position: relative;
}
#section-6 article #boxdatarigth #dataviews .datuser ul li #numviews {
  float: left;
  height: 20px;
  width: 15px;
}
#section-6 article #boxdatarigth #dataviews .datuser ul li a {
  color: #646464;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  height: 12px;
}
#section-6 article #boxdatarigth #dataviews .datuser ul .nolikes {
  background: url(../images/spriteicon.png) no-repeat 0 0;
  width: 220px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 0;
  margin-left: 17px;
  padding-left: 26px;
  padding-top: 3px;
}
#section-6 article #boxdatarigth #dataviews .datuser ul .views {
  background: url("../images/spriteicon.png") no-repeat scroll left -35px transparent;
  width: 220px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 0;
  margin-left: 17px;
  padding-left: 26px;
  padding-top: 3px;
}
#section-6 article #boxdatarigth #dataviews .datuser ul .nocomm {
  background: url("../images/spriteicon.png") no-repeat scroll left -70px transparent;
  width: 220px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 0;
  margin-left: 17px;
  padding-left: 26px;
  padding-top: 3px;
}
#section-6 article #boxdatarigth #dataviews .datuser ul .nobadges {
  background: url("../images/spriteicon.png") no-repeat scroll left -106px transparent;
  width: 220px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 0;
  margin-left: 17px;
  padding-left: 26px;
  padding-top: 3px;
}
#section-6 article #boxdatarigth #dataviews .datuser ul .sharefb {
  background: url("../images/spriteicon.png") no-repeat scroll left -140px transparent;
  width: 220px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 0;
  margin-left: 17px;
  padding-left: 26px;
  padding-top: 3px;
}
#section-6 article #boxdatarigth #dataviews .datuser ul .linkdat {
  background: url("../images/spriteicon.png") no-repeat scroll left -175px transparent;
  width: 220px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 0;
  margin-left: 17px;
  padding-left: 26px;
  padding-top: 3px;
}
#section-6 article #boxdatarigth #information {
  padding: 25px;
  background: #fff;
  border: 2px solid #D1D1D1;
  height: 125px;
  margin-bottom: 10px;
  width: 250px;
}
#section-6 article #boxdatarigth #information .namecarrusel {
  width: 100%;
  height: 20px;
  color: #666;
  font-family: arial;
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
#section-6 article #boxdatarigth #information .datarealtor {
  margin-top: 25px;
  font-family: arial;
  font-size: 12px;
  color: #666;
}
#section-6 article #boxdatarigth #information .datarealtor a {
  text-decoration: none;
  color: #71B9D7;
}
#section-6 article #boxdatarigth #badges {
  padding: 25px;
  background: #fff;
  border: 2px solid #D1D1D1;
  height: auto;
  margin-bottom: 10px;
  width: 250px;
}
#section-6 article #boxdatarigth #badges .namebadges {
  width: 100%;
  height: 20px;
  color: #666;
  font-family: arial;
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
#section-6 article #boxdatarigth #badges .databadges {
  height: auto;
  margin-top: 25px;
  font-family: arial;
  font-size: 12px;
  color: #666;
  text-align: center;
}
#section-6 article #boxdatarigth #badges .listbadges {
  margin-top: 25px;
  height: auto;
  width: 250px;
}
#section-6 article #boxdatarigth #badges .listbadges ul {
  list-style: none;
  height: 178px;
  width: 250px;
}
#section-6 article #boxdatarigth #badges .listbadges ul li {
  float: left;
  width: 75px;
  height: 75px;
  margin-left: 15px;
  margin-bottom: 8px;
  cursor: pointer;
}
#section-6 article #boxdatarigth #badges .border {
  float: left;
  border-top: 2px solid #666;
  width: 20px !important;
  height: 15px !important;
  margin-top: 35px;
}
#section-6 article #boxdatarigth #badges .tooltip:hover {
  text-decoration: none;
}
#section-6 article #boxdatarigth #badges .tooltip span {
  display: none;
  margin: 0 0 0 10px;
  padding: 5px 5px;
}
#section-6 article #boxdatarigth #badges .tooltip:hover span {
  display: inline;
  position: absolute;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: 0 2px 7px;
  background: #000;
  color: #fff !important;
  font-family: arial;
  font-size: 13px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#section-6 article #boxdatarigth #badges .bad01 {
  background: url(../images/spritebadges.png) no-repeat 0 0;
  width: 75px;
  height: 75px;
  display: block;
}
#section-6 article #boxdatarigth #badges .bad02 {
  background: url(../images/spritebadges.png) no-repeat scroll right 0 transparent;
  width: 75px;
  height: 75px;
  display: block;
}
#section-6 article #boxdatarigth #badges .bad03 {
  background: url(../images/spritebadges.png) no-repeat 0 -82px;
  width: 75px;
  height: 75px;
  display: block;
}
#section-6 article #boxdatarigth #badges .bad04 {
  background: url(../images/spritebadges.png) no-repeat right -82px;
  width: 75px;
  height: 75px;
  display: block;
}
#section-6 article #boxdatarigth #badges .bad05 {
  background: url(../images/spritebadges.png) no-repeat 0 -164px;
  width: 75px;
  height: 75px;
  display: block;
}
#section-6 article #boxdatarigth #badges .bad06 {
  background: url(../images/spritebadges.png) no-repeat right -164px;
  width: 75px;
  height: 75px;
  display: block;
}
#section-6 article #boxdatarigth #badges .bad07 {
  background: url(../images/spritebadges.png) no-repeat 0 -248px;
  width: 75px;
  height: 75px;
  display: block;
}
#section-6 article #boxdatarigth #badges .bad08 {
  background: url(../images/spritebadges.png) no-repeat right -248px;
  width: 75px;
  height: 75px;
  display: block;
}
#section-6 article #boxdatarigth #badges .viewmore {
  font-size: 12px;
  color: #71B9D7;
  font-weight: 700;
  font-family: arial;
  cursor: pointer;
}
#section-6 article #boxdatarigth #badges .viewmore:hover {
  color: #000;
}
#section-6 article #boxdatarigth #badges .viewless {
  font-size: 12px;
  color: #71B9D7;
  font-weight: 700;
  font-family: arial;
  cursor: pointer;
}
#section-6 article #boxdatarigth #badges .viewless:hover {
  color: #000;
}
#section-6 article #boxdatarigth #badges .hide {
  display: none;
}
#section-6 article #boxdatarigth #likesplace01 {
  padding: 25px;
  background: #fff;
  border: 2px solid #D1D1D1;
  height: auto;
  margin-bottom: 10px;
  width: 250px;
}
#section-6 article #boxdatarigth #likesplace01 .namelikeplace {
  width: 100%;
  height: 20px;
  color: #666;
  font-family: arial;
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
#section-6 article #boxdatarigth #likesplace01 .dataplace {
  margin-top: 25px;
  font-family: arial;
  font-size: 12px;
  color: #666;
  text-align: center;
}
#section-6 article #boxdatarigth #likesplace01 .bgliked {
  background: none repeat scroll 0 0 #D6669E;
  border-color: #983B88;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 7px #999999;
  color: #585858;
  cursor: pointer;
  font-family: arial;
  font-size: 13px;
  height: 16px;
  margin: 20px auto;
  padding: 8px;
  text-align: right;
  width: 62px;
}
#section-6 article #boxdatarigth #likesplace01 .bgliked a {
  background: url("../images/thumb_up_w.png") no-repeat scroll left bottom transparent;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  height: 16px;
  padding-left: 13px;
  padding-top: 1px;
  text-align: center;
  text-decoration: none;
  width: 62px;
}
#section-6 article #boxdatarigth #likesplace01 .likebtn {
  background: linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
  border: 1px solid #B0B0B0;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 7px #999999;
  color: #585858;
  cursor: pointer;
  font-family: arial;
  font-size: 13px;
  height: 16px;
  margin: 20px auto;
  padding: 8px;
  text-align: right;
  width: 62px;
}
#section-6 article #boxdatarigth #likesplace01 .likebtn:hover {
  background: linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
}
#section-6 article #boxdatarigth #likesplace01 .likebtn a {
  background: url("../images/likeimg.png") no-repeat scroll 2px -3px transparent;
  color: #585858;
  display: inline-block;
  font-weight: 700;
  height: 16px;
  padding-left: 10px;
  padding-top: 1px;
  text-align: center;
  text-decoration: none;
  width: 62px;
}
#section-6 article #boxdatarigth #deleteplace {
  padding: 25px;
  background: #fff;
  border: 2px solid #D1D1D1;
  height: 80px;
  margin-bottom: 10px;
  width: 250px;
  position: relative;
}
#section-6 article #boxdatarigth #deleteplace .namedeleteplace {
  width: 100%;
  height: 20px;
  color: #666;
  font-family: arial;
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
#section-6 article #boxdatarigth #deleteplace a {
  background: none repeat scroll 0 0 #D16363;
  border: 1px solid #C54C4C;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  display: inline-block;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  height: 15px;
  left: 50%;
  margin: 15px auto 15px -34px;
  padding: 5px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 50px;
}
#section-6 article #boxdatarigth #deleteplace a:hover {
  box-shadow: 0 2px 7px #C54C4C;
}
#boxdatapop {
  height: 600px;
  margin-top: 5px;
  width: 600px;
}
#boxdatapop .datatabspop {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px: solid #999;
  box-shadow: 0 2px 7px #666;
  width: auto;
  height: 600px;
}
#boxdatapop .datatabspop #mainplacepop {
  height: 70px;
  padding: 28px 10px;
  width: 578px;
}
#boxdatapop .datatabspop #mainplacepop .titleplacepop {
  float: left;
  height: 62px;
  width: 244px;
}
#boxdatapop .datatabspop #mainplacepop .titleplacepop span {
  display: inline-block;
  font-size: 30px;
  font-family: arial;
  font-weight: bold;
  color: #4C4C4C;
}
#boxdatapop .datatabspop #mainplacepop .titleplacepop a {
  color: #71B9D7;
  display: inline-block;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  text-decoration: none;
  width: 146px;
}
#boxdatapop .datatabspop #mainplacepop .sociallogpop {
  float: right;
  height: 57px;
  position: relative;
  width: 290px;
}
#boxdatapop .datatabspop #mainplacepop .addfavpop {
  background: linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
  border: 1px solid #B0B0B0;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 7px #999999;
  color: #585858;
  cursor: pointer;
  float: left;
  font-family: arial;
  font-size: 13px;
  height: 16px;
  padding: 8px;
  text-align: right;
  width: 181px;
}
#boxdatapop .datatabspop #mainplacepop .addfavpop:hover {
  background: linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
}
#boxdatapop .datatabspop #mainplacepop .addfavpop a {
  background: url("../images/myblock.png") no-repeat scroll 4px -3px transparent;
  color: #585858;
  display: inline-block;
  font-weight: 700;
  height: 24px;
  padding-left: 7px;
  padding-top: 1px;
  text-align: center;
  text-decoration: none;
  width: 185px;
}
#boxdatapop .datatabspop #mainplacepop .likebtnpop {
  background: linear-gradient(#fdfdfd 0%, #f2f1f1 100%);
  border: 1px solid #B0B0B0;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 7px #999999;
  color: #585858;
  cursor: pointer;
  float: left;
  font-family: arial;
  font-size: 13px;
  height: 16px;
  margin-left: 10px;
  padding: 8px;
  text-align: right;
  width: 62px;
}
#boxdatapop .datatabspop #mainplacepop .likebtnpop:hover {
  background: linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
}
#boxdatapop .datatabspop #mainplacepop .likebtnpop a {
  background: url("../images/likeimg.png") no-repeat scroll 2px -3px transparent;
  color: #585858;
  display: inline-block;
  font-weight: 700;
  height: 16px;
  padding-left: 10px;
  padding-top: 1px;
  text-align: center;
  text-decoration: none;
  width: 62px;
}
#boxdatapop .datatabspop .tabslinepop {
  height: 35px;
  padding-left: 16px;
  text-align: center;
  width: 584px;
}
#boxdatapop .datatabspop .tabslinepop a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #F4F4F4;
  border-color: #cccccc #cccccc -moz-use-text-color;
  border-image: none;
  border-radius: 4px 4px 0 0;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #2B2B2B;
  display: inline-block;
  float: left;
  font-family: arial;
  font-size: 12px;
  font-weight: 700;
  height: 10px;
  margin-left: 8px;
  padding: 12px;
  text-decoration: none;
  width: 106px;
}
#boxdatapop .datatabspop .tabslinepop a:hover {
  background: #fff;
}
#boxdatapop .datatabspop .tabslinepop .on {
  background: #fff;
}
#boxdatapop .datatabspop #contenttabslinepop {
  border-top: 1px solid #CCCCCC;
  height: auto;
  padding-left: 22px;
  text-align: center;
  width: 576px;
}
#boxdatapop .datatabspop #contenttabslinepop .datphotospop {
  width: 555px;
  height: auto;
  text-align: center;
}
.viewprofileb {
  background: linear-gradient(#fdfdfd 0%, #f2f1f1 100%) repeat scroll 0 0 transparent;
  border: 1px solid #B0B0B0;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 7px #999999;
  color: #585858;
  cursor: pointer;
  float: right;
  font-family: arial;
  font-size: 13px;
  height: 16px;
  margin-right: 14px;
  margin-top: -24px;
  padding: 8px;
  text-align: left;
  width: 108px;
}
.viewprofileb:hover {
  background: linear-gradient(#f8f8f8 0%, #fdfdfd 100%);
}
.viewprofileb a {
  background: url("../images/viewPlace.png") no-repeat scroll 84px -3px transparent;
  color: #585858;
  display: inline-block;
  font-weight: 700;
  height: 24px;
  padding-left: 1px;
  padding-top: 1px;
  text-align: left;
  text-decoration: none;
  width: 115px;
}
