<!doctype html>
<!--[if lt IE 7]> <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>OnMyBlock</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
    <!-- //metas para facebook -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content=" ">
    <meta property="og:site_name" content="">
<script src="/media/js/main.js"></script> 
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="https://onmyblock.com/css/main.css?v=1">
    <link rel="stylesheet" href="https://onmyblock.com/css/jquery.vegas.css" type="text/css" media="all">    
    <link rel="stylesheet" type="text/css" href="https://onmyblock.com/css/jquery.fancybox.css"/>

	<script src="https://onmyblock.com/js/libs/modernizr-2.0.6.min.js"></script>
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
<header>

    <article>
        <div class="logo"></div>
        <!--<div class="works"><a href="howitworks.html">How it Works</a></div>-->

    </article>

</header>    

<div id="wrapper">

    <section id="section-1">
        
        <article>
            
            <div class="box1">
                <div class="title01">Under Maintenance</div>
                <div class="subtitle">We'll be back Friday, June 14, 2013</div>
                    <!--<div class="slides_search" style="padding: 2px;margin-left:2%;">
                        <form id="form-1" class="jqTransform jqtransformdone" enctype="multipart/form-data" action="map.html" method="post">
                            <div class="width-1 w-4">
                                <select name="test" id="school" class="select01">
                                    <option selected value="Where Do You Go to School?"></option>
                                    <option value="2">University of San Diego</option>

                                </select>
                            </div>
                            <input id="slide_submit_search" class="blue-button" type="button" value="Go!">
                            <div class="error"></div>
                        </form>
                    </div>--> 
            </div>

            <!--<div class="box2">
                <div class="fblogin">
                    <div id="fb-root"></div>                    
                    <div class="conterfbprincipal">
                        <div class="conterimgfb"></div>
                        <div class="conterfbcode">
                            <fb:login-button show-faces="true" width="400">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</fb:login-button>
                        </div>
                    </div>
                    <div class="likefb">
                        <div class="fb-like" data-href="https://www.facebook.com/OnMyBlock" data-send="false" data-width="450" data-show-faces="true" data-font="arial"></div>
                    </div>
                </div>           
            </div>-->



        </article>





    </section>




</div>

<footer>    
    <!--<article>
    <div class="sublogo">OnMyBlock</div>        
        <nav>
            <ul>
                <li class="nocircle"><a id="howitworkslk" href="howitworks.html">How it Works</a></li>
                <li><a href="help.html">Help</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="careers.html">Careers</a></li>
                <li><a href="privacy.html">Privacy Policy</a></li>
                <li><a href="terms.html">Terms of Service</a></li> 
            </ul>
        </nav>
    </article>-->
</footer>    










<script src="https://onmyblock.com/js/libs/jquery-1.9.0.min.js"></script>
<script src="//connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript" src="https://onmyblock.com/js/libs/jquery.vegas.js"></script>
<script type="text/javascript" src="https://onmyblock.com/js/libs/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="https://onmyblock.com/js/libs/bootstrap-button.js"></script>
<script type="text/javascript" src="https://onmyblock.com/js/libs/jquery.fancybox.js"></script>
<!--<script src="js/libs/jquery.jqtransform.js" type="text/javascript"></script>-->
<script src="js/init.js?v=1"></script>
<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=561406290571363";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>