<!doctype html>
<!--[if lt IE 7]> <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Título</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
    <!-- //metas para facebook -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content=" ">
    <meta property="og:site_name" content="">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="http://54.241.12.168/media/css/main.css?v=1">
      

	<script src="http://54.241.12.168/media/js/libs/modernizr-2.0.6.min.js"></script>
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
	<div class="temp_popup" style="position: relative; background: transparent;opacity: 1;display:block;width:547px;height:448px;" >
		<div style="background-image: url('http://onmyblock.com/media/images/login/popup.png'); background-repeat:no-repeat; margin:auto; border-radius: 10px; width:547px; height:448px; text-align: center;">
			<div style="width: 547px;height: 448px;">
				<a onclick="fbLogin()"><div style="background-image: url('http://onmyblock.com/media/images/v0-1/btnFacebook.png'); background-repeat:no-repeat; width:295px; height:49px; margin-top: 220px; margin-left: 127px; position: absolute;" ></div></a>
				<div style="background-image: url('http://onmyblock.com/media/images/login/dont-have-a-login.png'); background-repeat:no-repeat;width:186px; height:21px;margin-top: 304px;margin-left: 125px;position: absolute;" ></div>
				<a onclick="fbLogin()"><div style="background-image: url('http://onmyblock.com/media/images/login/signUp.png'); background-repeat:no-repeat;width:186px; height:21px;margin-top: 304px;margin-left: 319px;position: absolute;" ></div></a>
				<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FOnMyBlock&amp;send=false&amp;layout=standard&amp;width=480&amp;show_faces=true&amp;action=like&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; margin-top: 360px;margin-left: 8px; width:480px; height:80px;" allowTransparency="true"></iframe>
			</div>
		</div>
	</div>
</body>
</html>