{include file='../header.tpl'}
{strip}
{*
This is a temprory page, please don't edit.
*}
<div class="content-box">
    <section id="content" class="content">
            <div class="padding">
                <div class="container_24">
                    <div class="wrapper">
                        <div class="grid_12" style="margin-left:400px;">
                            <div class="box-register">
                                <h1>Register</h1>
                            </div>

                            <div class="box-register">
                            
                            
                            
                            	{if $step eq 0}
                            	<div class="box-register-inner-active"><h2 align="center">Personal Information</h2>
                            	<a href="{$links.login}" class="blue-button" style="width: 169px; margin: 15px 26.5%; text-align:center;">Login with Facebook</a></div>
                            	{/if}
                            
                            
                            	{if $step eq 1}
                            	<div class="box-register-inner-active"><h2 align="center">Personal Information</h2>
                            	<h5>Please wait while we process your information</h5><img src="https://onmyblock.com/media/images/wait.gif"><meta http-equiv="REFRESH" content="3;url=register"></div>
                            	{/if}
                            
                                {if $step > 1}
                            	<div class="box-register-inner"><h2 align="center">Personal Information</h2>
                            	<img src="https://onmyblock.com/media/images/check.png"></div>
                            	{/if}
                            	
                            	
                            	
                            	
                            	
                            	
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</div>
{/strip}
{include file='../footer.tpl'}