{strip} {include file='../header.tpl'}


<div class="layout-slider" style="width: 300px">
       <input id="Slider1" type="slider" name="price" value="30000.5;60000" />
</div>
<script type="text/javascript" charset="utf-8">
	jQuery("#Slider1").slider({ from: 1000, to: 100000, step: 500, smooth: true, round: 0, dimension: "&nbsp;$", skin: "plastic" });
</script>

<!--div style="background-image: url('https://onmyblock.com/media/images/login/popup.png'); background-repeat:no-repeat; margin:auto; border-radius: 10px; width:547px; height:448px; text-align: center;">
	<div style="height: 100%; width: 100%;">
		<a onclick="fbLogin()"><div style="background-image: url('https://onmyblock.com/media/images/login/btn_facebook.png'); background-repeat:no-repeat; width:436px; height:74px; margin-top: 202px; margin-left: 54px; position: absolute;" ></div></a>
		<div style="background-image: url('https://onmyblock.com/media/images/login/dont-have-a-login.png'); background-repeat:no-repeat;width:186px; height:21px;margin-top: 304px;margin-left: 125px;position: absolute;" ></div>
		<a onclick="fbLogin()"><div style="background-image: url('https://onmyblock.com/media/images/login/signUp.png'); background-repeat:no-repeat;width:186px; height:21px;margin-top: 304px;margin-left: 319px;position: absolute;" ></div></a>
		<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FOnMyBlock&amp;send=false&amp;layout=standard&amp;width=480&amp;show_faces=true&amp;action=like&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; margin-top: 360px;margin-left: 84px; width:480px; height:80px;" allowTransparency="true"></iframe>
	</div>
</div-->
<!--div style="background-image: url('https://onmyblock.com/media/images/login_popun/login.png'); background-repeat:no-repeat; margin:auto; border-radius: 13px; width:547px; height:669px; text-align: center;">
	<a onclick="fbLogin()"><div style="background-image: url('https://onmyblock.com/media/images/login_popun/btn-facebook.png'); background-repeat:no-repeat;width: 436px; height: 74px;position: absolute;margin-top: 450px;margin-left: 54px;" ></div></a>
	<form action="">
		<input type="text" id="email_beta"  style="background-image: url('https://onmyblock.com/media/images/login_popun/input-email.png'); background-repeat:no-repeat;width: 322px; height: 45px;margin-top: 570px; margin-left: -150px;border: transparent;padding-left: 15px;font-size:23px;" placeholder="email:" />
		<input type="submit" id="send_beta_email" class="blue-button" style="background-image: url('https://onmyblock.com/media/images/login_popun/submit.png'); background-repeat:no-repeat;width: 137px; height: 51px;margin-top: 566px;margin-left: 15px;position: absolute; border:transparent;" value="" />
	</form>
</div-->

{include file='../footer.tpl'} {/strip}