<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# onmyblock: http://ogp.me/ns/fb/onmyblock#">
<meta property="og:type" content="onmyblock:house" />
<meta property="place:location:latitude"  content="-15.093339" />
<meta property="place:location:longitude" content="-75.322266" />
<meta property="fb:app_id"                content="246041178762859" />
<meta property="og:url"                   content="https://onmyblock.com/place?id=1002790313" />
<meta property="og:title"                 content="Sample House" />
<meta property="og:image"                 content="http://s3.cdn.onmyblock.com/places/1004578439/profile.jpg" />
<meta property="og:description"           content="this is desc" />