/*
Theme Name: NewStone
Theme URI: http://www.pcdiy.com/themes/newstone
Description: NewStone is a simple and clean two-columns ( It can become three-columns by using particular widgets ), fixed-width theme. It is compatible with WordPress 3.x standard features: Custom Menu, Header Image, Custom Background and Featured Images. NewStone supports 4 widgets for normal use, 4 widgets for placing Ads, 1 widget for Javascript (Google Analytics or similar services).
Author: Terry Lin
Author URI: http://www.pcdiy.com
Version: 1.2.2
License: GNU General Public License
License URI: license.txt
Tags: gray, white, two-columns, three-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats
*/

/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Preload images for CSS spirits */

.bg {
	background:url(images/layout_background.gif) repeat-y; 
}
.layout {
	background:url(images/layout_infront.png) no-repeat;
}
.icon, .tagcloud a {
	background:url(images/layout_icons.png) no-repeat;
}
#the_menu ul li a:hover,
#the_menu ul li.current_page_item a,
#the_menu ul.sub-menu li a:hover,
#the_menu div.menu ul.children li a:hover {
	background:url(images/layout_icons.png) repeat-x;
}

.base_bg {
	background:url(images/background.gif);
}

/* Icons */

.post-meta .time,
.post-meta .author, 
.post-meta .comment, 
.post-meta .category, 
.post-tag  .tag, 
.post-meta .admin-edit,
.post-meta .the-gallery,
.post-meta .magnifier {
	line-height: 19px;
	padding-left: 23px;
	margin-right: 5px;
	float: left;
}
.post-meta .time        { background-position: 0 -173px; }
.post-meta .author      { background-position: 0 -202px; }
.post-meta .comment     { background-position: 0 -231px; }
.post-meta .category    { background-position: 0 -347px; }
.post-tag  .tag         { background-position: 0 -581px; }
.post-meta .admin-edit  { background-position: 0 -318px; }
.post-meta .the-gallery { background-position: 0 -289px; }
.post-meta .magnifier   { background-position: 0 -260px; }


/* Font Family */

body, 
#site-title {
	font-family: Verdana, Arial, Sans-Serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code, 
#respond p.form-allowed-tags {
	font-family: "Courier New", Courier, Fixed;
}
#author-description h2, 
#comments h3 {
	font-family: Verdana;
}

/* Font Size */

#site-title   { font-size: 28px; }
#site-description  { font-size: 13px; }
#wp-calendar caption  { font-size: 14px; }
#wp-calendar thead    { font-size: 11px; }
#wp-calendar tbody td { font-size: 11px; }
#prev a, #next a { font-size: 12px; }
#content h1 { font-size: 26px; }
#content h2 { font-size: 22px; }
#content h3 { font-size: 20px; }
#content h4 { font-size: 18px; }
#content h5 { font-size: 16px; }
#content h6 { font-size: 14px; }
#content input, #content textarea { font-size: 16px; }
#content var  { font-size: 15px; }
#content code { font-size: 13px; }
#nav-below a { font-size: 12px; }
#post-author-info { font-size: 12px; }
#post-author-info h2 { font-size: 16px; }
#comments-title h3, #respond h3 { font-size: 14px; }
#comments-title h4, #respond h4 { font-size: 13px; }
#respond, .archive-meta { font-size: 12px; }
#comments .pingback p { font-size: 12px; }
#comments .pingback .url { font-size: 13px; }
#respond .comment-notes { font-size: 11px; }
#respond label { font-size: 12px; }
#respond .form-allowed-tags { font-size: 12px; }
#respond .form-allowed-tags code { font-size: 11px; }
#respond .form-submit input { font-size: 14px; }
#credit, #credit a { font-size: 11px; }
.post-content { font-size: 13px; }
.post-meta, .post-tag, .post-utility { font-size: 11px; }
.side-widget ul li, .side-widget-s ul li { font-size: 12px; }
.side-widget-header h3, .side-widget-header-s h3 { font-size: 16px; }
.attachment_return_link { font-size: 12px; }
.wp-caption p.wp-caption-text {font-size: 11px; }
.gallery .gallery-caption { font-size: 12px; }
.navigation { font-size: 12px; }
.comment-meta { font-size: 10px; }
.commentlist { font-size: 12px; }
.reply { font-size: 12px; }
h1 span { font-size: 13px; }
.menu_bar, div.menu { font-size: 13px; }
.nopassword, .nocomments { font-size: 12px; }
#author-description {font-size: 11px; }
#author-description h2 {font-size: 13px; }
.textwidget { font-size: 12px; }

/* Structure */

#wrapper {
	width: 986px;
	overflow: hidden;
	margin: 0 auto;
}
#newstone {
	width: 966px;
	margin: 0 auto;
}
#main {
	width: 966px;
	margin-top: 4px;
}
#footer {
	clear: both;
	width: 966px;
}

/* Structure - Header */

#header-info {
	width: 966px;
	height: 100px;
	line-height: 100px;
	overflow: hidden;
}
#header-info-left {
	width: 483px;
	float: left;
	overflow: hidden;
}
#header-info-right {
	width: 483px;
	float: right;
	overflow: hidden;
}
#header-info-right .textwidget {
	margin-top: 20px;
}
#site-title {
	float: left;
	line-height: 100px;
	margin: 0px 10px 0px 10px
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#site-description {
	float: left;
	width:446px;
	line-height: 100px;
	text-align: right;
	font-style: italic;
	margin: 0px 10px 0px 10px;
	
}
#feature-image {
	width: 966px;
	height: 130px;
	background-position: -1274px 0;
	position: relative;
	z-index: 50;
}
#show-feature-image {
	width: 960px;
	height: 130px;
	margin: 0 3px 0 3px;
}
#feature-image-frame {
	width: 966px;
	height: 8px;
	z-index: 150;
	background:url(images/header_img_frame.gif) no-repeat;;
	position: absolute;
	top: 122px;
	left: 0;
}
#header-shadow {
	width: 966px;
	height: 3px;
	overflow: hidden;
	background-position: 0 -136px;
}
/* Structure - Main */

#mainbox {
	float: left;
	width: 650px;
	margin-right: 4px;
	background-position: 0 0;
}
#mainbox-fullwidth {
	width: 966px;
	background-position: -1274px 0;
}

.main-layout-top {
	width: 650px;
	height: 13px;
	overflow: hidden;
	background-position: 0 -42px;
}
.main-layout-bottom {
	width: 650px;
	height: 13px;
	overflow: hidden;
	background-position: 0 -56px;
}

.main-fullwidth-layout-top {
	width: 966px;
	height: 13px;
	overflow: hidden;
	background-position: 0 -113px;
}
.main-fullwidth-layout-bottom {
	width: 966px;
	height: 13px;
	overflow: hidden;
	background-position: 0 -127px;
}
#content {
	padding: 0 20px;
}


/* Structure - Sidebar */

#sidebox {
	width: 312px;
	float: left;
}
#side-widget-left {
	width: 154px;
	float: left;
}
#side-widget-right {
	width: 154px;
	float: right;
}
.side-widget {
	width: 312px;
	background-position: -650px 0;
	margin-bottom: 4px;
	overflow: hidden;
}
.side-widget-s {
	width: 154px;
	background-position: -962px 0;
	margin-bottom: 4px;
	overflow: hidden;
}
.side-widget-header {
	width: 312px;
	height: 43px;
	line-height: 43px;
	background-position: -654px -42px;
	overflow: hidden;
}
.side-widget-header-ad {
	width: 312px;
	height: 13px;
	line-height: 13px;
	background-position: -654px -99px;
	overflow: hidden;
}
.side-widget-header-s {
	width: 154px;
	height: 43px;
	line-height: 43px;
	background-position: -338px -69px;
	overflow: hidden;
}

.side-widget-header h3,
.side-widget-header-s h3 {
	margin-left: 40px;
	line-height: 40px;
	padding-bottom: 3px;
	color: #000;
	font-weight: bold;
}
.side-widget-footer {
	width: 312px;
	height: 12px;
	overflow: hidden;
	background-position: -654px -86px;
}
.side-widget-footer-s {
	width: 154px;
	height: 12px;
	overflow: hidden;
	background-position: -493px -99px;
}
.side-widget ul, 
.side-widget-s ul {
	padding: 10px;
}
.side-widget ul li, 
.side-widget-s ul li {
	line-height: 150%;
}
.side-widget ul.children, 
.side-widget-s ul.children {
	padding: 3px;
}
.side-widget ul.children li, 
.side-widget-s ul.children li {
	line-height: 150%;
}
.textwidget {
	overflow: hidden;
	line-height: 150%;
}
.textwidget p {
	margin: 0px;
	padding: 0px;
}
.side-widget .textwidget,
.side-widget-s .textwidget {
	margin: 6px;
}
/* Structure - Sidebar - .side-widget */

.side-widget select, 
.side-widget form,
.side-widget-s select,
.side-widget-s form {
	margin: 6px 16px;
}
.side-widget .textwidget {
	margin: 6px;
}
.side-widget-s .textwidget {
	margin: 4px;
}
.tagcloud {
	margin: 6px 12px;
}
.tagcloud a { 
	height: 14px;
	line-height: 14px;
	border-top: 1px solid #eee;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #eee;
	background-color: #f1f1f1;
	background-position: 0px -89px;
	padding: 0px 5px 0px 20px;
	margin: 3px;
	display: inline-block;
}
.tagcloud a:hover { 
	background-color: #fff;
	color: #000;
	text-decoration: none;
}
/* Structure - Footer */

#footer-widget {
	width: 966px;
	text-align: center;
}
#footer-widget .textwidget {
	margin: 10px;
}

/* Search Form */

#searchform input {
	padding: 1px;
}
#searchsubmit {
	font-size: 11px;
	padding: 0px;
}
#s {
	width: 40%;
}
/* Calendar */
#calendar_wrap {
	width: 280px;
	margin: 16px;
}
#wp-calendar {
	width: 280px;
}
#wp-calendar caption {
	color: #000;
	line-height: 14px;
	font-weight: bold;
	border-bottom: 1px solid #eee;
	text-align: left;
	padding: 3px;
	margin-bottom: 10px;
}
#wp-calendar thead th {
	padding-bottom: 5px;
	border-bottom: 3px solid #DDD;
}
#wp-calendar tbody {
	color: #999;
}
#wp-calendar tbody td {
	background: #f1f1f1;
	border: 1px solid #fff;
	padding: 3px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
#wp-calendar #today {
	font-weight: bold;
}

/* Global Elements */

body {
	background:url(images/background.gif) #ffffff;
}

hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 0 1.8em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 2.2em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

textarea {
	background: #fafafa;
	border: 1px solid #ccc;
	padding: 2px;
}
a {
	color:#0072BC;
	text-decoration:none;
}
a:hover {
	color:#F26522;
	text-decoration:underline;
}
embed { 
	width: 610px;
}

/* Text meant only for screen readers */

.screen-reader-text {
	position: absolute;
	left: -9000px;
}

/* Menu */

#the_menu {
	width: 966px;
	height: 40px;
	background-position: 0 0;
	position: relative;
	z-index: 200;
}

#the_menu .menu_bar,
#the_menu div.menu {
	width: 934px;
	height: 36px;
	position: absolute;
	top: 4px;
	left: 16px;
}
#the_menu .menu_bar ul,
#the_menu div.menu ul {
	list-style: none;
	margin: 0;
}
#the_menu .menu_bar li,
#the_menu div.menu li {
	float: left;
	position: relative;
}

#the_menu ul li a {
	color: #000;
	display: block;
	line-height: 36px;
	padding: 0 17px;
	text-decoration: none;
}
#the_menu ul li a:hover {
	background-position: 0 0;
	color: #fff;
}
#the_menu ul ul {
	display: none;
	position: absolute;
	top: 36px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#the_menu ul ul li {
	min-width: 180px;
}
#the_menu ul ul ul {
	left: 100%;
	top: 0;
}
#the_menu ul.sub-menu li a,
#the_menu div.menu ul.children li a {
	background: #f5f5f5;
	color: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}
#the_menu ul.sub-menu li a:hover,
#the_menu div.menu ul.children li a:hover {
	background-position: 0 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	color: #fff;
}
#the_menu ul li:hover ul {
	display: block;
}
#the_menu .menu_bar ul.sub-menu li.current-menu-item a,
#the_menu div.menu ul.children li.current-page-item a {
	color: #333;
}
#the_menu div.menu ul li.current_page_item a,
#the_menu .menu_bar ul li.current_page_item a,
#the_menu .menu_bar ul.sub-menu li.current-menu-item a:hover {
	color: #fff;
}
/* Content */
.hentry {
	border-bottom: 1px dashed #ddd;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.single .hentry {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
#content,
#content input,
#content textarea {
	color: #333;
	line-height: 24px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 24px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	line-height: 21px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	font-weight: bold;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}

.home .sticky {
	border-bottom: 3px solid #ddd;
	margin-left: -10px;
	margin-right: -10px;
	padding: 18px 10px;
}
#content .post-title {
	color: #000;
	font-weight: bold;
	margin-bottom: 10px;
}

.post-title a:link,
.post-title a:visited {
	color: #000;
	text-decoration: none;
}
.post-title a:active,
.post-title a:hover {
	color: #ff4b33;
}

/* .page-link is used in wp_link_pages() */

.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
h1 span {
	margin-left: 10px;
	color: #888;
}
#post-author-info {
	background-color: #F7FCFE;
	border: 1px solid #D6EEF7;
	margin: 10px 0;
	float: left;
	overflow: hidden;
	width: 568px;
	padding: 18px 20px;
}
.archive-meta p{
	background-color: #F5F5F5;
	padding: 5px 5px 5px 20px;
}

#author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	padding: 5px;
	
}
#author-description {
	float: left;
	margin-left: 20px;
	overflow: hidden;
}
#post-author-info h2 {
	color: #000;
	font-weight: bold;
	margin-bottom: 0;
}

#content .video-player {
	padding: 0;
}
.clearboth {
	clear: both;
}
.empty {
	display: none;
}
.post-meta a, .post-tag a, .post-utility a {
	color: #333;
}
.post-meta, .post-tag, .post-utility {
	overflow: hidden;
	height: 1%;
}
.comma {
	color: #aaa;
}
.padding-top-10 { 
	padding-top: 10px;
}
.margin-top-10 { 
	margin-top: 10px;
}
.post-content {
	overflow: hidden;
}
/* =Asides */

#content .format-aside p {}

/*  Gallery */

.gallery-thumb {
	float: left;
	margin-right: 20px;
	padding: 5px;
	text-align: center;
	background-color: #f1f1f1;
	margin-bottom: 15px;
	overflow: hidden;
}

.gallery-thumb img {
	border: 1px solid #e7e7e7;
	margin: 0;
	background-color: #ffffff;
	padding: 5px;
}
#content .gallery-thumb p {
	margin: 0;
	padding: 0;
}

/* Attachment pages */

.attachment_return_link {
	margin-bottom: 20px;
}
.attachment img {
	border: 1px solid #e7e7e7;
	margin: 0;
	background-color: #ffffff;
	padding: 5px;
}
.post-caption {
	font-weight: bold;
	margin: 10px 0;
}
/* Images */

.post-content img,
img.size-auto,
img.size-full,
img.size-large,
img.size-medium {
	width: expression(this.width > 600 ? 600: true);
}
.attachment img {
	width: expression(this.width > 890 ? 890: true);

}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	line-height: 18px;
	margin-bottom: 20px;
	width: expression(this.width > 610 ? 610: true);
	text-align: center;
}
.wp-caption img {
	width: expression(this.width > 590 ? 590: true);
	border: 1px solid #e7e7e7;
	padding: 5px;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-style: italic;
}
.wp-smiley {
	margin: 0;
}

/* Gallery in posts */

.gallery {
	margin-bottom: 18px;
	border: 1px solid #e7e7e7;
	padding: 10px 0px;
	background-color: #f5f5f5;
	overflow: hidden;
	height: 1%;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-2 .attachment-medium {
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	width: 127px;
	height: 127px;
}
.gallery .gallery-caption {
	color: #888;
	
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 1px solid #e7e7e7;
	padding: 5px;
	background-color: #fff;
}
.gallery br+br {
	display: none;
}

#content .attachment img {
	display: block;
	margin: 0 auto;
}

/* Navigation */

#nav-below {
	margin-top: 10px;
}
.navigation {
	color: #888;
	line-height: 18px;
	overflow: hidden;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* Comments */

#comments {
	
	width: 610px;
	margin: 10px 0;
	padding: 10px 0;
	clear: both;
}
.commentlist ol, .commentlist ul  {
	margin: 0;
	padding: 0;
	list-style: none;
}

commentlist ul li ul, 
commentlist ol li ul {
	list-style: square;
	margin: 0 0 0 1.5em;
}
.commentlist ol li ol, 
.commentlist ul li ol  {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}

.commentlist li.comment {
	margin: 0 0 0px 0;
	padding: 0 0 0 50px;
	position: relative;
	height: 1%;
}
.commentbox {
	padding-top: 10px;
}
.depth-1 .commentbox,
.depth-2 .commentbox,
.depth-3 .commentbox,
.depth-4 .commentbox,
.depth-5 .commentbox {
	border: 1px solid #e7e7e7;
	margin: 0px 0px 20px 0px;
}
.depth-1 { width: 560px; }
.depth-2 { width: 510px; }
.depth-3 { width: 460px; }
.depth-4 { width: 410px; }
.depth-5 { width: 360px; }

.commentlist li:last-child {
	margin-bottom: 0;
}
#comments .comment-body {
	margin-bottom: 30px;
	padding-left: 10px;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist .avatar {
	position: absolute;
	border: 1px solid #e7e7e7;
	padding: 2px;
	top: 5px;
	left: 5px;
}
.comment-author {
	padding-left: 10px;
}
.commentlist {

}
.comment-meta {
	margin: 0 0 18px 0;
	padding-left: 10px;
	color: #888;
}
.commentlist .even {
	
}
.commentlist .bypostauthor {
}
.reply {
	margin-bottom: 30px;
}
.comment-meta a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	
	margin: 0;
}
.nopassword,
.nocomments {
	font-weight: bold;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-style: italic;
}
/* Comments form */

#respond {
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}

#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
}
#respond input {
	margin: 0 0 9px;
	width: 60%;
	display: block;
}
#respond textarea {
	width: 90%;
}

#respond .form-allowed-tags {
	margin: 20px;
	color: #333;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	display: block;
	color: #888;
}

#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	width: auto;
}
#content .post-content input {
	margin: 30px 0px 0px 0px;
}

/* footer */

#footer {
	margin-bottom: 20px;
}
.footer-line {
	width: 966px;
	height: 10px;
	background-position: 0 -140px;
	margin: 10px 0;
	overflow: hidden;
}
#credit {
	width: 966px;
}
#credit-left {
	width: 50%;
	text-align: left;
	float: left;
}
#credit-right {
	width: 50%;
	text-align: right;
	float: left;
}
#credit, #credit a {
	color: #666;
	font-style: italic;
}
#site-info, 
#theme-designer,
#site-generator {
	height: 27px;
	line-height: 27px;
	text-align: left;
	display: inline;
	margin: 0 5px;
}
#theme-designer,
#site-generator {
	float: right;
}
#site-info {
	float: left;
}
#theme-designer {
	background-position: 0px -115px;
	padding-left: 28px;
}
#site-generator {
	background-position: 0px -142px;
	padding-left: 28px;
}
