{strip}
	<div id="contentlogin" >
		{if $smarty.cookies.omb_session eq 'loggedin'}
		<div class="topminipic" style="float:left;">
			<img src="https://graph.facebook.com/{$user.username}/picture?square">
		</div>

		<div class="idnametop" style="float:left;">
			<a href="javascript:">{$user.first_name} {$user.last_name}</a>
		</div>

		<div style="display:none;" class="despledat">
			<ul>
				<li><a href="myblock">Profile</a></li>
				<li><a class="logout" href="javascript:">Logout</a></li>
			</ul>
		</div>
		{else}
			<div style="width: 245px;float: left;text-align: center;"  onclick="fbLogin()">
				<a id="buttonFb" class="buttonFb blue-button" style="color: #fff;
font: bold 12px Helvetica,Arial,sans-serif;
text-decoration: none;
padding: 7px 12px;
position: relative;
display: inline-block;
text-shadow: 0 1px 0 #6192a5;
-webkit-transition: border-color .218s;
-moz-transition: border .218s;
-o-transition: border-color .218s;
background: #62b2d2;
border: solid 1px #4da2c4;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;width: 130px; margin-top: 8px;margin-left: -102px; text-align:center; padding:5px; font-size:12px;">Login with Facebook</a>
			</div>
		{/if}
	</div>

	<div class="menu">            
		<ul>
			{if $smarty.cookies.omb_session eq 'loggedin'}
				<li  class="myblock"><a href="myblock">MYBLOCK</a></li>
			{else}
				<li  class="home"><a href="home">HOME</a></li>
			{/if}
			<li  class="browse"><a href="browse">BROWSE</a></li>
			<li class="map"><a href="map">MAP</a></li>  
		</ul>
	</div>
{/strip}