@charset "utf-8";
/* CSS Document */
/*
    Theme Name: warm-home
	
    Theme URI: http://www.wpart.org/wordpress-themes-warm-home-4/
	
    Description: The Wordpress templates "Warm Home",with the tone of light and breezy ,elegant and full of life.It is divided into two columns: 
    Column list of posts, customize Sidebar.Home Posts list displays as thumbnail and summary .Sidebar specific the first header background.Supporting the sidebar widget , threaded-comments and Stylesheet Edit.
	
    Version: 1.9
	
    Author:WPart.org
	
    Author URI: http://www.wpart.org
	
	tags:black, white,silver,light,green,yellow,two-columns,right-sidebar,threaded-comments,seasonal
	
	License: GNU GENERAL PUBLIC LICENSE Version 2, June 1991

	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

body {
	background: url(images/footer.jpg) no-repeat bottom center #e8e7e5;
	margin:0 auto;
	padding:0;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	color:#848484;
	font-size:12px;
}
body a {
	color:#51504f;
}
body a:hover {
	text-decoration:underline;
}

.floatright{
    float:right;
	}

.floatleft{
    float:left;
	}
		
.alignright{
   float:right;
   margin:15px;
   margin-right:0;
   }
 
.alignleft{
    float:left;
    margin:15px;
    margin-left:0;
   }

.aligncenter {
   display:block;
   clear: both;
   margin:15px auto;
   }

#content .main .entry img.alighleft{
	display: inline;
	float: left;
	margin:4px 0 0 24px;
}

#content .main .entry img.alignright {
	display: inline;
	float: right;
	margin:4px 0 0 24px;
}

#content .main .entry img.aligncenter {
	clear: both;
	float:none;
	display:block;
	margin:auto;
}

#content .main .entry img.alignnone {
	float:none;
}

#content .main .entry img.alignleft,
#content .main .entry img.alignright,
#content .main .entry img.aligncenter,
#content .main .entry img.alignnone{
	margin-bottom: 12px;
}

table,tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
.main  tr th,
.main  thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
.main tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
.main  tr.odd td {
	background: #f2f7fc;
}
    		
#header {
	width:500px;
	height:70px;
	background:url(images/header_bg.jpg) no-repeat top;
	margin:0 auto;
	padding:40px 200px 50px 300px;
	position:relative;
	text-align:center;
}
#header h1 {
	font-size:24px;
	font-weight:bold;
	width:500px;
	margin:0;
}
#header h1 a {
	color:#bdbdbd;
	text-decoration:none;
}
#description {
	color:#787878;
	font-size:12px;
	width:500px;
}

/* =Menu
-------------------------------------------------------------- */

#nav {
	height:52px;
	width:740px;
	background:url(images/nav_bg.jpg) 10px 5px no-repeat;
	padding:0 230px 0 30px;
	margin:0 auto;
	text-transform:uppercase;
}

#nav .menu-header,
div.menu {
	font-size: 13px;
	margin-left: 12px;
	width: 740px;
}
#nav .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
	padding:0;
}
#nav .menu-header li,
div.menu li {
	float: left;
	position: relative;
}

#nav ul li {
	margin-right:15px;
}

#nav a {
	font-size:14px;
	color:#787878;
	display: block;
	height:35px;
	vertical-align:bottom;
	text-decoration:none;
}

#nav ul ul {
	display: none;
	position: absolute;
	top:20px;
	left:0;
	float: left;
	width:180px;
	z-index: 99999;
}
#nav ul ul li {
   margin-left:2px;
}
#nav ul ul ul {
	left: 100%;
	top: 0;
}
#nav ul ul a {
	background-color: #DBDBDB;
	line-height: 1em;
	padding:10px;
	height: auto;
}
#nav li:hover > a,
#nav ul ul :hover > a {
	color: #787878;
}
#nav ul li:hover > ul {
	display: block;
}
#nav ul li.current_page_item > a,
#nav ul li.current-menu-ancestor > a,
#nav ul li.current-menu-item > a,
#nav ul li.current-menu-parent > a {
	color: #787878;
}
* html #nav ul li.current_page_item a,
* html #nav ul li.current-menu-ancestor a,
* html #nav ul li.current-menu-item a,
* html #nav ul li.current-menu-parent a,
* html #nav ul li a:hover {
	color:#787878;
}

/* search form */
#searchTop {
	position:absolute;
	text-align:right;
	width:180px;
	right:0px;
	top:170px;
	z-index:100;
}
#searchTop form {
	padding:0;
	margin:0;
	height:26px;
}
#searchTop .txtField {
	border:1px solid #cfcecc;
	background-color:#F0F0F0;
	width:115px;
	margin-right:5px;
	padding:5px;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size:12px;
	float:right;
}
#searchTop .btnSearch {
	margin:0;
	padding:2px;
	float:right;
	height:26px;
	width:29px;
	color:#999999;
	font-size:10px;
	background: url(images/zoom.jpg) no-repeat top transparent;
	border:1px solid #e8e7e5;
	text-indent:-999px;
	cursor:hand;
}
.Search {
	text-align:right;
	width:209px;
	padding: 20px 0 0 20px;
}
.Search form {
	padding:0;
	margin:0;
	height:26px;
}
.Search .txtField {
	border:1px solid #cfcecc;
	background-color:#F0F0F0;
	width:140px;
	margin-right:5px;
	padding:5px;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size:12px;
	float:left;
}
.Search .btnSearch {
	margin:0;
	padding:2px;
	float:left;
	height:26px;
	width:29px;
	color:#999999;
	font-size:10px;
	background: url(images/zoom.jpg) no-repeat top transparent;
	border:1px solid #e8e7e5;
	text-indent:-999px;
	cursor:hand;
}

.single-attachment #content {
	margin: 0 auto;
	width: 992px;
}


#content {
	width:992px;
	margin:0 auto;
	padding-left:8px;
	clear:both;
}
/*main start*/	
#content .main {
	width:569px;
	margin:17px 15px 120px 0px;
	float:left;
	display:inline;
	line-height:20px;
}
#content .main .top {
	background:url(images/content_top.jpg) top no-repeat;
	height:17px;
	overflow:hidden;
	margin:0;
}
#content .main .bot {
	background:url(images/content_bot.jpg) bottom no-repeat;
	height:18px;
	width:569px;
	overflow:hidden;
}
#content .main .center {
	background:url(images/content_bg.jpg) repeat-y;
	padding:10px 25px 20px 38px;
	width:506px;
	float:left;
	word-wrap: break-word;
    word-break: normal; 
}

#content .main .posts{
	width:100%;
}

#content .main .posts .postmetadata {
	font-size:12px;
	width:100%;
	padding-bottom:5px;
	margin-bottom:15px;
	border-bottom:1px solid #d8d8d8;
}
#content .main .posts .postmetadata a {
	color:#51504f;
	text-decoration:underline;
}
.title {
	color:#999999;
	font-size:18px;
	font-weight:bold;
	height:25px;
	margin:0;
	padding-bottom:15px;
	border-bottom:1px solid #d8d8d8;
}

#content .main .entry {
	width:100%;
}

#content .main .entry img {
	padding:5px;
	background:#fff;
	float:left;
	border:1px solid #CCCCCC;
	margin:12px 12px 12px 0;
	max-width:450px;
	max-height:500px;
}

#content .main .entry h3{
	clear:both;
}

/* next previous */
.previous a {
	float:left;
	width:93px;
	height:33px;
}
.previous a:hover {
	font-weight:bold;
}
.next a {
	float:right;
	width:93px;
	height:33px;
}
.next a:hover {
	font-weight:bold;
}
/*main end*/	

.posts-quick {
	margin:0;
	padding:0;
	list-style:none;
}
.posts-quick .entry-thumbnails {
	width:110px;
	height:90px;
	padding:8px;
	background: url(images/postimg_bg.jpg) no-repeat;
	margin:0 12px 12px 0;
	float:left;
	border:none;
	overflow:hidden;
}
.posts-quick .entry-thumbnails img {
	width:110px;
	height:90px;
	border:none;
}
.posts-quick li {
	margin-bottom:20px;
	padding:10px 0;
	border-bottom:1px dashed #d8d8d8;
	position:relative;
	clear:both;
	height:auto;
	line-height:20px;
	width:499px;
}
.posts-quick li .commentnum a {
	position:absolute;
	top:12px;
	left:-47px;
	height:25px;
	width:21px;
	text-align: center;
	text-decoration:none;
	display:block;
	padding:7px 13px 13px 7px;
	font-size:14px;
	background:url(images/comment_bg.jpg) no-repeat;
}
.posts-quick h3, .singleTitle {
	color:#999999;
	font-size:14px;
	font-weight:bold;
	line-height:20px;
	margin:0;
	padding:0;
}
.posts-quick h3 a {
	color:#999999;
	text-decoration:none;
}
.posts-quick h3 a:hover {
	color:#333;
	text-decoration:underline;
}
.posts-quick .entry-summary {
	font-size: 12px;
	overflow:hidden;
	width:360px;
	white-space:normal;
}
.posts-quick .postmetadata {
	font-size:12px;
	float:left;
	width:364px;
	padding-bottom:5px;
	border-bottom:1px solid #d8d8d8;
}
.posts-quick .postmetadata a {
	color:#51504f;
	text-decoration:underline;
}
.posts-quick .quick-read-more a:link, .posts-quick .quick-read-more a:visited {
	margin: 3px 0;
	font-size: 12px;
	color:#51504f;
	text-decoration: none;
	float:right;
}
.posts-quick .quick-read-more a:hover {
	text-decoration:underline;
}

.edit-link {
	clear: both;
	display: block;
}

.page-link {
	color: #666;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
	clear:both;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #E7F2D0;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}




/*sidebar01 start*/	

#sidebar_1 {
	width:229px;
	padding-top:15px;
	float: left;
}
#sidebar_1 .widget_1 h2 {
	background: url(images/sidebar01_title_bg1.jpg) no-repeat center bottom;
	padding:62px 5px 28px 50px;
	margin:0;
	width:174px;
	font-size:14px;
	font-weight:bold;
	color:#8f8d8d;
	text-transform:uppercase;
}
#sidebar_1 h2 {
	background:url(images/sidebar01_title_bg2.jpg) no-repeat bottom;
	height:13px;
	width:174px;
	padding:0 5px 30px 50px;
	margin-top:40px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#8f8d8d;
	float:left;
}
#sidebar_1 ul {
	font-size:12px;
	line-height: 25px;
	margin:0;
	padding:0;
}
#sidebar_1 ul li {
	float:left;
	list-style-type: none;
}
#sidebar_1 ul li ul {
	width:190px;
	float: left;
	padding:5px 0 5px 10px;
	margin-left:17px;
}
#sidebar_1 ul li ul ul {
	width:95%;
	float: left;
	background-image: none;
	margin: 0px;
	padding: 0px;
}
#sidebar_1 ul li ul li {
	list-style-type: none;
	padding-left: 20px;
	width: 85%;
	display: block;
	float: left;
	margin:0 5px;
}
#sidebar_1 a {
	color: #5c5c5c;
	text-decoration:none;
}
#sidebar_1 .tagcloud {
	width:220px;
	padding-left:5px;
}
#sidebar_1 .tagcloud a {
	color: #5c5c5c;
	text-decoration:none;
	display:inline;
}
#sidebar_1 a:hover {
	text-decoration: underline;
	font-weight:bold;
}
/*calendar start*/

#calendar_wrap {
	width:220px;
	float: left;
	text-align: center;
	padding:15px 30px;
}
#wp-calendar {
	empty-cells: show;
	font-size: 12px;
	color: #5c5c5c;
	text-decoration: none;
	text-align: center;
	width:200px;
	padding: 5px 0px;
	margin:0 14px;
}
#wp-calendar a:link, #wp-calendar a:visited {
	text-decoration: none;
	background-color: #999999;
	color:#FFFFFF;
	padding: 2px;
}
#wp-calendar a:hover, #wp-calendar a:active {
	text-decoration: underline;
}
#wp-calendar caption {
	font-family: "Trebuchet MS", Tahoma, "Arial Narrow";
	font-weight: normal;
	text-align: center;
	color: #5c5c5c;
	font-size:12px;
	height: 22px;
	line-height: 22px;
	padding-bottom: 5px;
}

#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {	
	padding: 3px 0 2px;
	text-align: center;
}

/*sidebar01 end*/	





/*sidebar02 start*/

#sidebar_2 {
	width:160px;
	margin:44px 0 0 10px;
	padding-top:160px;
	background:url(images/sidebar02bg.jpg) no-repeat top;
	float:left;
}
#sidebar_2 ul {
	list-style:none;
	padding:0px;
	margin:0;
}
#sidebar_2 li {
	list-style:none;
}
#sidebar_2 h2 {
	width:160px;
	margin:30px 0 10px 0;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#8f8d8d;
	clear:both;
}
#advertarea {
	display: block;
	padding:0px 0 25px 0;
}

.advert {
	width:120px;
	height:115px;
	border:none;
	padding:17px 22px 20px 18px;
	margin:10px 0 8px 0;
	background:url(images/gallerybg.jpg) center no-repeat;
}

#sidebar_2 img {
	width:120px;
	height:115px;
	border:none;
}
/*sidebar02 end*/	



/*footer start*/

#footer {
	margin:0 auto;
	margin-top:80px;
	padding:70px 0 180px 150px;
	text-align:left;
	clear: both;
	width: 850px;
}
/*footer end*/



.navigation {
	height:20px;
	padding:10px 0;
	list-style:none;
	text-align:center;
	clear:both;
}

.navigation a {
	float:none;
	text-decoration: none;
	padding:3px 5px;
	margin-top:10px;
	border: 1px solid #848484;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: inline-block;
}

.navigation a:hover {
	background-color:#ccc;
	color: #FFF;
}




/* comments */
#comments{
	float:left;
	margin:10px 0;
	}
	
.commentlist {
	list-style: none;
    margin:0;
    padding:0;
}

.commentlist li.comment {
	border-bottom: 1px dashed #ccc;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding:10px 0 30px 0;
	float:left;
	width:100%;

}

#reply-title {
	width: 470px;
	float: left;
	height: 40px;
	padding-left:20px;
	line-height:35px;
	background: url(images/titlebg.jpg) top left no-repeat;
}

.commentlist ol {
	list-style: decimal;
}
	
.commentlist .avatar {
	border: 1px solid #E7E7E7;
	padding: 2px;
	float: left;
	margin: 0 15px 10px 0;
}
.commentlist cite {
	font-weight: 700;
	font-style: normal;
	line-height: 20px;
	font-size: 14px;
	color:#51504F;
}

.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}

.commentlist p {
	font-size: 12px;
}
.commentlist .comment-meta, #commentlist .comment-meta abbr {
	border: none;
	text-decoration: none;
	font-size: 11px;
}


.commentlist .reply a, .comments-navigation a, .read-more {
	color:#666;
	float:right;
	text-decoration: none;
	padding:0 8px;
	border: 1px solid #CCC;
}
.commentlist .reply a:hover, .comments-navigation a:hover,  .read-more:hover {
	background-color: #ccc;
	color: #FFF;
}
.comments-navigation {
	padding: 0 10px 10px;
}
.comments-navigation a {
	display: inline-block;
}
.nocomments {
	border: solid #E7E7E7;
	border-width: 0 1px 1px;
	padding: 15px 10px;
	margin: 0 10px 10px 0;
	font-size: 12px;
	display:none;
}

#respond{
    padding-top:20px;
	}
	
#commentform {
	margin-right: 10px;
	padding: 10px;
}
#commentform label {
	color: #848484;
}
#commentform label.error {
	margin: 5px 0;
	color: #A80009;
	font-weight: bold;
	padding: 5px;
}
#commentform span.required {
	color: #A80009;
}
#commentform input[type=text] {
	display: block;
	width: 300px;
	border:1px solid #ccc;
	font: 12px 'Lucida Grande', Arial, Helvetica, sans-serif;
	margin: 5px 0;
}
#commentform textarea {
	display: block;
	font: 14px 'Lucida Grande', Arial, Helvetica, sans-serif;
	border:1px solid #ccc;
	width: 90%;
	margin-bottom: 5px;
}

#commentform input #submit {
	color:#666666;
	padding:5px;
	margin:7px 0;
	text-align: center;
	border: 1px solid #ccc;
	background:#FFFFFF;
}

#commentform input #submit:hover{
	color:#fff;
	padding:5px;
	margin: 0 0 7px 0;
	text-align: center;
	background:#ccc;
}

#cancel-comment-reply-link {
	font-size: 11px;
	float:right;
}

.wp-caption {
    line-height: 18px;
    margin-bottom: 20px;
    width:100%;
    padding: 4px;
    text-align: center;
}

.wp-caption-text {
	color:#666666;
	font-size: 12px;
	margin: 5px;
	width:80%;
	clear:both;
}

.wp-caption img {
	margin: 5px 5px 0;
}

img.size-auto, img.size-full, img.size-large, img.size-medium, .attachment img {
    height: auto;
    max-width: 100%;
}

.home .sticky {
	border-top: 4px solid #ccc;
	background: #E7F2D0;
	margin:10px -20px;
	padding: 18px 20px;
	}

.gallery-caption {
	color: #666666;
	font-size: 12px;
	margin: 0 0 12px;
}
.bypostauthor {
}

.page-title {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}

#content dt, #content th {
    color: #333;
}

dt {
    font-weight: bold;
}

/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}

#content .main .center .entry-utility {
	padding-top: 4px;
	margin:10px 0;
}

#content .main .entry .gallery {
	margin: 0 auto 18px;
}
#content .main .entry .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#content .main .entry .gallery-columns-2 .gallery-item {
	width: 50%;
}
#content .main .entry .gallery-columns-4 .gallery-item {
	width: 25%;
}

#content .main .entry .gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
#content .main .entry .gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
#content .main .entry .gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
#content .main .entry .gallery dl {
	margin: 0;
}
#content .main .entry .gallery img {
	border: 10px solid #f1f1f1;
}
#content .main .entry .gallery br+br {
	display: none;
}

#content .attachment img { /* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}

/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
	float:left;
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
	float:right;
}

#nav-below {
	margin: -18px 0 0 0;
	clear:both;
}