 /**
 *  @description [description]
 *  @author [author]
 *  @version [version]
 *  @copyright [description]
 *  
 */


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

	.gmap3{     
	    width:100%;
	    height:500px;	                    
	  }

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 


}
 
/* Landscape phones and down */
@media (max-width: 480px) { 


}


