{strip}
<div id="wishlist" class="tab-content">
    <div class="inner">
        <!--div class="home_box_middle">
            <h1>Wish List</h1>
        </div-->


            {foreach $user.favorites item='favorite'}
            <div class="home_box_middle" style="margin-top:20px; height:110px; text-align:center;">
            <div class="delete_from_wishlist" user_id="{$user.id}" place_id="{$favorite.0}" style="position:absolute; float:right; left:405px; top:-10px;"><img src="https://onmyblock.com/media/images/delete.png" /></div>
                <div class="white-box">
                    <a href="https://onmyblock.com/place?id={$favorite.0}"><div style=" display:inline-block;  border:1px solid #000;
    box-shadow:0 0 5px #4b4b4b; width:180px; height:130px; margin:-10px; background:url(https://onmyblock.com/media/images/house.png)"><div style="width:180px; height:130px; background:url(https://s3-us-west-1.amazonaws.com/onmyblock/places/{$favorite.0}/profile.jpg)"><div style="position: absolute; width:180px; height:20px; margin-top:110px;  color:#fff; background:#000; opacity:0.5;">{$favorite.1}</div></div></div></a>
    			<div style="width: 225px; height:112px; position:relative; display:inline-block; margin-left:20px;">
	    			<div style="width:210px; height: 60px; margin: 0 auto;">
			        <div style="float:left; width:60px; height:55px; margin:5px;"><img style="margin: 5px 17px;" src="https://onmyblock.com/media/images/ps_rent.png" />{if $favorite.6 > 0}${$favorite.6}{else}N/A{/if}</div>
			        <div style="float:left; width:60px; height:55px; margin:5px;"><img style="margin: 5px 17px;" src="https://onmyblock.com/media/images/ps_bedrooms.png" />{if $favorite.4 > 0}{$favorite.4}{else}N/A{/if}</div>
			        <div style="float:left; width:60px; height:55px; margin:5px;"><img style="margin: 5px 17px;" src="https://onmyblock.com/media/images/ps_bathrooms.png" />{if $favorite.5 > 0}{$favorite.5}{else}N/A{/if}</div>
			        </div>


    			</div>
                </div>
	    			
            </div>
            
            {foreachelse}
             <a href="browse" class="blue-button" style="width: 280px; margin:75px; text-align:center;">Go To Browse Page</a> 
             {/foreach}
             
    </div>
</div>
{/strip}